{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}
<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
      assign collection_handles = product.collections | map: 'handle'
    -%}

    <product-form class="product-form" data-hide-errors="{{ gift_card_recipient_feature_active }}">
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        <svg
          aria-hidden="true"
          focusable="false"
          class="icon icon-error"
          viewBox="0 0 13 13"
        >
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </svg>
        <span class="product-form__error-message"></span>
      </div>

      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          disabled
          class="product-variant-id"
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
        {%- endif -%}

        <div class="product-form__buttons" style="display: flex; flex-wrap: wrap;">
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          {% assign walmart_id = product.selected_or_first_available_variant.metafields.custom.walmart_id %}
          {% assign amazon_link = product.metafields.custom.amazon_link %}
          {%- if walmart_id -%}
            <a
              href="https://www.walmart.com/ip/seort/{{ walmart_id }}"
              target="_blank"
              style="width: 100%; margin-bottom: 10px; background: #0071ce;"
              class="button"
            >
              Buy At &nbsp;
              <svg width="134" height="32" viewBox="0 0 134 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_712_4334)">
                  <path d="M77.6769 17.0289C77.6769 13.8688 76.3241 11.0766 71.7491 11.0766C69.4019 11.0766 67.5373 11.7456 66.5263 12.3312L67.2673 14.8665C68.1981 14.2826 69.6832 13.8017 71.085 13.8017C73.4012 13.7984 73.7806 15.1086 73.7806 15.951V16.1538C68.7247 16.1457 65.5286 17.8926 65.5286 21.4502C65.5286 23.6241 67.1512 25.6622 69.9875 25.6622C71.718 25.6622 73.1803 24.9637 74.0538 23.8613H74.1389C74.1389 23.8613 74.7147 26.2706 77.8993 25.3497C77.7374 24.3405 77.6769 23.2773 77.6769 21.9851V17.0289V17.0289ZM73.905 20.3658C73.905 20.6209 73.8838 20.8859 73.8085 21.1133C73.5173 22.0865 72.513 22.9011 71.2633 22.9011C70.2083 22.9011 69.3806 22.3041 69.3806 21.0528C69.3806 19.139 71.4939 18.6123 73.905 18.6254" fill="white"/>
                  <path d="M0.270752 6.77687C0.270752 6.77687 3.5732 20.2877 4.09828 22.4763C4.71656 25.0345 5.82393 25.98 9.02011 25.3502L11.0843 16.9722C11.6061 14.8965 11.9611 13.408 12.298 11.293H12.3553C12.5892 13.4293 12.9262 14.8965 13.3531 16.9787C13.3531 16.9787 14.1954 20.785 14.6322 22.7789C15.0574 24.7728 16.2548 26.0307 19.3904 25.3502L24.3041 6.77687H20.3375L18.6511 14.8114C18.2045 17.139 17.7989 18.9726 17.4832 21.1056H17.4259C17.1413 18.9955 16.7798 17.2372 16.3153 14.957L14.5684 6.77687H10.4301L8.56536 14.7476C8.03374 17.1816 7.53651 19.1329 7.22407 21.1988H7.17011C6.84789 19.2605 6.41116 16.7923 5.94823 14.4499C5.94823 14.4499 4.84086 8.74299 4.44995 6.77687" fill="white"/>
                  <path d="M35.3581 17.0289C35.3581 13.8688 34.0021 11.0766 29.427 11.0766C27.0864 11.0766 25.2184 11.7456 24.2076 12.3312L24.9485 14.8665C25.876 14.2826 27.3596 13.8017 28.7663 13.8017C31.0824 13.7984 31.4619 15.1086 31.4619 15.951V16.1538C26.406 16.1457 23.2065 17.8926 23.2065 21.4502C23.2065 23.6241 24.8357 25.6622 27.6589 25.6622C29.4058 25.6622 30.8551 24.9637 31.7285 23.8613H31.8168C31.8168 23.8613 32.3958 26.2706 35.5773 25.3497C35.4137 24.3405 35.3581 23.2773 35.3581 21.9851V17.0289V17.0289ZM31.583 20.3658C31.583 20.6209 31.5617 20.8859 31.4897 21.1133C31.1952 22.0865 30.191 22.9011 28.938 22.9011C27.8895 22.9011 27.0586 22.3041 27.0586 21.0528C27.0586 19.139 29.1718 18.6123 31.583 18.6254" fill="white"/>
                  <path d="M37.4165 6.77687V25.3437H41.1917V21.4066V6.77687H37.4165Z" fill="white"/>
                  <path d="M89.2634 6.77687V20.4758C89.2634 22.3667 89.6183 23.6851 90.3822 24.4931C91.0529 25.2014 92.1504 25.6626 93.4573 25.6626C94.5794 25.6626 95.6769 25.4467 96.1955 25.2586L96.1497 22.3095C95.762 22.3994 95.3187 22.4763 94.7102 22.4763C93.4214 22.4763 92.9961 21.6601 92.9961 19.9622V14.7182H96.2838V11.1704H92.9961V6.77687" fill="white"/>
                  <path d="M79.5059 11.3989V25.3497H83.4086V18.205C83.4086 17.8206 83.4331 17.4886 83.4937 17.1811C83.7848 15.6746 84.9281 14.721 86.5753 14.721C87.0349 14.721 87.3473 14.7717 87.6941 14.8256V11.1682C87.4029 11.1159 87.2051 11.0881 86.8468 11.0881C85.3862 11.0881 83.7308 12.0155 83.0323 14.0356H82.9359V11.3989" fill="white"/>
                  <path d="M43.384 11.3989V25.3497H47.187V17.1614C47.187 16.777 47.2295 16.3845 47.3653 16.0295C47.6745 15.2002 48.4416 14.2401 49.6732 14.2401C51.2042 14.2401 51.9272 15.5323 51.9272 17.397V25.3497H55.7205V17.0633C55.7205 16.7018 55.7712 16.2585 55.8774 15.9379C56.1817 14.9974 57.0126 14.2401 58.1609 14.2401C59.7083 14.2401 60.4574 15.5045 60.4574 17.7028V25.3497H64.2473V17.1238C64.2473 12.8023 62.0489 11.0881 59.5528 11.0881C58.4554 11.0881 57.5819 11.358 56.7967 11.8421C56.1326 12.2494 55.5503 12.8235 55.0285 13.5743H54.9713C54.371 12.0728 52.961 11.0881 51.1192 11.0881C48.7573 11.0881 47.6842 12.2805 47.0529 13.2881H46.9956V11.3989" fill="white"/>
                  <path d="M116.709 10.7727C117.454 10.7727 118.083 10.3834 118.164 9.88289L118.904 1.50812C118.904 0.678817 117.927 0 116.709 0C115.483 0 114.513 0.678817 114.513 1.50812L115.259 9.88289C115.338 10.3834 115.963 10.7727 116.709 10.7727Z" fill="#FCB61A"/>
                  <path d="M112.172 13.3933C112.542 12.739 112.52 12.0127 112.121 11.6889L105.219 6.86192C104.501 6.44318 103.426 6.94207 102.811 7.99873C102.198 9.05375 102.322 10.238 103.025 10.6486L110.667 14.1915C111.156 14.3747 111.796 14.0345 112.172 13.3867" fill="#FCB61A"/>
                  <path d="M121.244 13.3864C121.635 14.0341 122.274 14.3744 122.75 14.201L130.392 10.6482C131.102 10.2295 131.209 9.0567 130.608 8.00168C129.995 6.94502 128.914 6.4494 128.197 6.85996L121.293 11.682C120.91 12.0108 120.882 12.7403 121.252 13.3929" fill="#FCB61A"/>
                  <path d="M116.709 21.2338C117.454 21.2338 118.083 21.6231 118.164 22.1236L118.904 30.4984C118.904 31.3277 117.927 32 116.709 32C115.483 32 114.513 31.3277 114.513 30.4984L115.259 22.1236C115.338 21.6231 115.963 21.2338 116.709 21.2338Z" fill="#FCB61A"/>
                  <path d="M121.244 18.6206C121.635 17.9713 122.274 17.6245 122.75 17.8126L130.392 21.3588C131.102 21.7694 131.209 22.952 130.608 24.0086C129.995 25.0571 128.914 25.556 128.197 25.1454L121.293 20.3169C120.91 19.9914 120.882 19.2651 121.252 18.6206" fill="#FCB61A"/>
                  <path d="M112.172 18.6134C112.542 19.2661 112.52 19.9907 112.121 20.3178L105.219 25.1382C104.501 25.557 103.426 25.0565 102.811 24.008C102.198 22.9529 102.322 21.7687 103.025 21.3581L110.667 17.8119C111.156 17.6255 111.796 17.969 112.172 18.6134Z" fill="#FCB61A"/>
                  <path d="M132.629 24.4108H132.724C132.853 24.4108 132.905 24.4517 132.92 24.5548C132.948 24.6693 132.963 24.7462 132.99 24.7789H133.236C133.215 24.7544 133.187 24.6922 133.172 24.5482C133.144 24.4239 133.08 24.3535 132.99 24.329V24.3061C133.115 24.2783 133.187 24.1948 133.187 24.0917C133.187 23.9985 133.144 23.9314 133.102 23.8889C133.02 23.8496 132.941 23.8185 132.768 23.8185C132.614 23.8185 132.501 23.8316 132.411 23.8529V24.7789H132.629V24.4108V24.4108ZM132.635 23.9887L132.747 23.9739C132.878 23.9739 132.948 24.0345 132.948 24.1196C132.948 24.2145 132.853 24.2586 132.732 24.2586H132.635V23.9887V23.9887ZM132.775 23.3604C132.238 23.3604 131.812 23.7793 131.812 24.293C131.812 24.8198 132.238 25.2386 132.775 25.2386C133.318 25.2386 133.73 24.8198 133.73 24.293C133.73 23.7793 133.318 23.3604 132.775 23.3604ZM132.775 23.5486C133.187 23.5486 133.493 23.8823 133.493 24.293C133.493 24.7069 133.187 25.0505 132.775 25.0439C132.362 25.0439 132.05 24.7069 132.05 24.293C132.05 23.8823 132.362 23.5486 132.768 23.5486" fill="#FCB61A"/>
                </g>
                <defs>
                  <clipPath id="clip0_712_4334">
                    <rect width="133.459" height="32" fill="white" transform="translate(0.270752)"/>
                  </clipPath>
                </defs>
              </svg>
              &nbsp;
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.2292 10H13.2292C12.948 10 12.7292 10.25 12.7292 10.5V14H2.72925V4H7.22925C7.47925 4 7.72925 3.78125 7.72925 3.5V2.5C7.72925 2.25 7.47925 2 7.22925 2H2.22925C1.3855 2 0.729248 2.6875 0.729248 3.5V14.5C0.729248 15.3438 1.3855 16 2.22925 16H13.2292C14.0417 16 14.7292 15.3438 14.7292 14.5V10.5C14.7292 10.25 14.4792 10 14.2292 10ZM15.5417 0H10.6042C10.1042 0 9.72925 0.40625 9.72925 0.875V1.46875C9.72925 1.9375 10.1042 2.3125 10.573 2.3125C10.6042 2.3125 10.6042 2.3125 10.6042 2.3125L12.7292 2.25L4.948 10C4.79175 10.125 4.698 10.3125 4.698 10.5312C4.698 10.7188 4.79175 10.9062 4.948 11.0625L5.66675 11.7812H5.698C5.823 11.9375 6.0105 12 6.198 12C6.41675 12 6.60425 11.9375 6.72925 11.7812L14.4792 4L14.4167 6.125C14.4167 6.625 14.7917 7 15.2917 7H15.8542C16.323 7 16.7292 6.625 16.7292 6.125V1.1875C16.7292 0.53125 16.198 0 15.5417 0Z" fill="white"/>
              </svg>
            </a>

            <a
              id="add-to-babylist"
              class="button button--secondary gold-branding-true on-dark-bg-false navigable baby-list-button"
              href="
                javascript: bl.addToRegistry({
                  images: '{{ product.selected_or_first_available_variant.featured_image | image_url }}',
                  price: '{{ product.selected_or_first_available_variant.price | money }}',
                  title: '{{ product.title }}',
                  url: window.location.href
                });
              "
            >
              Add to Babylist
            </a>
          {%- elsif amazon_link -%}
            <a
              href="{{ amazon_link }}"
              target="_blank"
              style="width: 100%; margin-bottom: 10px;"
              class="button button--secondary"
            >
              Buy On &nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" width="120" height="60" fill-rule="evenodd">
                <path d="M72.038 40.703c-5.8 4.283-14.234 6.57-21.486 6.57-10.168 0-19.323-3.76-26.248-10.016-.544-.492-.057-1.162.596-.78 7.474 4.35 16.715 6.965 26.26 6.965 6.438 0 13.52-1.332 20.032-4.096.984-.418 1.806.644.844 1.358m2.418-2.764c-.74-.95-4.9-.448-6.782-.226-.57.07-.657-.427-.144-.784 3.32-2.338 8.77-1.663 9.407-.88s-.165 6.25-3.286 8.858c-.48.4-.936.187-.723-.344.7-1.75 2.272-5.672 1.528-6.625" fill="#f90"/><path d="M67.803 20.427v-2.272a.56.56 0 0 1 .575-.575H78.55c.326 0 .588.235.588.575V20.1c-.004.326-.28.753-.766 1.428l-5.27 7.526c1.96-.048 4.026.244 5.802 1.245.4.226.5.557.54.884v2.425c0 .33-.366.718-.75.518-3.13-1.64-7.287-1.82-10.747.017-.353.192-.723-.192-.723-.522v-2.303c0-.37.004-1 .374-1.563l6.107-8.758H68.4c-.326 0-.588-.23-.588-.57M30.694 34.605H27.6c-.296-.022-.53-.244-.553-.527V18.194c0-.318.266-.57.596-.57h2.886c.3.013.54.244.562.53v2.076h.057c.753-2.007 2.168-2.943 4.074-2.943 1.937 0 3.147.936 4.018 2.943.75-2.007 2.45-2.943 4.275-2.943 1.297 0 2.716.535 3.582 1.737.98 1.336.78 3.278.78 4.98L47.87 34.03c0 .318-.266.575-.596.575h-3.1c-.3-.022-.557-.27-.557-.575V25.6c0-.67.06-2.342-.087-2.977-.23-1.066-.923-1.367-1.82-1.367-.75 0-1.532.5-1.85 1.302s-.287 2.142-.287 3.043v8.42c0 .318-.266.575-.596.575h-3.1c-.313-.022-.557-.27-.557-.575l-.004-8.42c0-1.772.292-4.38-1.907-4.38-2.224 0-2.137 2.542-2.137 4.38v8.42c0 .318-.266.575-.596.575M87.896 17.3c4.592 0 7.078 3.944 7.078 8.958 0 4.845-2.747 8.688-7.078 8.688-4.5 0-6.965-3.944-6.965-8.858 0-4.945 2.486-8.8 6.965-8.8m.026 3.243c-2.28 0-2.425 3.108-2.425 5.045s-.03 6.085 2.398 6.085c2.398 0 2.512-3.343 2.512-5.38 0-1.34-.057-2.943-.46-4.214-.348-1.106-1.04-1.537-2.024-1.537m13.007 14.075h-3.082c-.3-.022-.557-.27-.557-.575l-.004-15.888c.026-.292.283-.518.596-.518h2.87c.27.013.492.196.553.444v2.43h.057c.866-2.172 2.08-3.208 4.218-3.208 1.4 0 2.742.5 3.613 1.872.8 1.27.8 3.408.8 4.945v10c-.035.28-.292.5-.596.5H106.3c-.283-.022-.518-.23-.548-.5V25.48c0-1.737.2-4.28-1.937-4.28-.753 0-1.445.505-1.8 1.27-.435.97-.492 1.937-.492 3.008v8.554c-.004.318-.274.575-.605.575m-41.225-7.6c0 1.206.03 2.2-.58 3.282-.492.87-1.275 1.406-2.142 1.406-1.188 0-1.885-.905-1.885-2.242 0-2.638 2.364-3.117 4.605-3.117v.67m3.12 7.544c-.205.183-.5.196-.73.074-1.027-.853-1.214-1.25-1.776-2.063-1.698 1.732-2.903 2.25-5.102 2.25-2.607 0-4.632-1.606-4.632-4.823 0-2.512 1.358-4.222 3.3-5.058 1.68-.74 4.026-.87 5.82-1.075v-.4c0-.736.057-1.606-.38-2.242-.374-.57-1.097-.805-1.737-.805-1.18 0-2.23.605-2.486 1.86-.052.28-.257.553-.54.566l-3-.322c-.252-.057-.535-.26-.46-.65.688-3.64 3.98-4.736 6.92-4.736 1.506 0 3.474.4 4.662 1.54 1.506 1.406 1.362 3.282 1.362 5.324v4.823c0 1.45.6 2.085 1.167 2.87.196.28.24.614-.013.823L62.82 34.57l-.004-.01M19.12 27.017c0 1.206.03 2.2-.58 3.282-.492.87-1.27 1.406-2.142 1.406-1.188 0-1.88-.905-1.88-2.242 0-2.638 2.364-3.117 4.6-3.117v.67m3.12 7.544c-.205.183-.5.196-.73.074-1.027-.853-1.2-1.25-1.776-2.063-1.698 1.732-2.9 2.25-5.102 2.25C12.028 34.822 10 33.216 10 30c0-2.512 1.362-4.222 3.3-5.058 1.68-.74 4.026-.87 5.82-1.075v-.4c0-.736.057-1.606-.374-2.242-.38-.57-1.1-.805-1.737-.805-1.18 0-2.233.605-2.5 1.86-.052.28-.257.553-.535.566l-3.004-.322c-.252-.057-.53-.26-.46-.65.692-3.64 3.98-4.736 6.92-4.736 1.506 0 3.474.4 4.662 1.54 1.506 1.406 1.362 3.282 1.362 5.324v4.823c0 1.45.6 2.085 1.167 2.87.2.28.244.614-.01.823l-2.36 2.052-.01-.01" fill="#221f1f"/>
              </svg>
              &nbsp;
              <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.2292 10H13.2292C12.948 10 12.7292 10.25 12.7292 10.5V14H2.72925V4H7.22925C7.47925 4 7.72925 3.78125 7.72925 3.5V2.5C7.72925 2.25 7.47925 2 7.22925 2H2.22925C1.3855 2 0.729248 2.6875 0.729248 3.5V14.5C0.729248 15.3438 1.3855 16 2.22925 16H13.2292C14.0417 16 14.7292 15.3438 14.7292 14.5V10.5C14.7292 10.25 14.4792 10 14.2292 10ZM15.5417 0H10.6042C10.1042 0 9.72925 0.40625 9.72925 0.875V1.46875C9.72925 1.9375 10.1042 2.3125 10.573 2.3125C10.6042 2.3125 10.6042 2.3125 10.6042 2.3125L12.7292 2.25L4.948 10C4.79175 10.125 4.698 10.3125 4.698 10.5312C4.698 10.7188 4.79175 10.9062 4.948 11.0625L5.66675 11.7812H5.698C5.823 11.9375 6.0105 12 6.198 12C6.41675 12 6.60425 11.9375 6.72925 11.7812L14.4792 4L14.4167 6.125C14.4167 6.625 14.7917 7 15.2917 7H15.8542C16.323 7 16.7292 6.625 16.7292 6.125V1.1875C16.7292 0.53125 16.198 0 15.5417 0Z" fill="#000"/>
              </svg>
            </a>

            <a
              id="add-to-babylist"
              class="button button--secondary gold-branding-true on-dark-bg-false navigable baby-list-button"
              href="
                javascript: bl.addToRegistry({
                  images: '{{ product.selected_or_first_available_variant.featured_image | image_url }}',
                  price: '{{ product.selected_or_first_available_variant.price | money }}',
                  title: '{{ product.title }}',
                  url: window.location.href
                });
              "
            >
              Add to Babylist
            </a>
          {%- else -%}
            <div style="width: 100%;">
              <button
                id="ProductSubmitButton-{{ section_id }}"
                type="submit"
                name="add"
                class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--primary{% else %}button--primary{% endif %}"
                {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                  disabled
                {% endif %}
              >
                <span>
                  {% if product.selected_or_first_available_variant.metafields.custom.pre_order == true %}
                    {{ 'Pre-Order' }}
                  {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- else -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- endif -%}
                </span>
                {%- render 'loading-spinner' -%}
                <div class="loading-overlay__spinner hidden">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </button>
            </div>
            <a
              id="add-to-babylist"
              class="button button--secondary gold-branding-true on-dark-bg-false navigable baby-list-button"
              href="
                javascript: bl.addToRegistry({
                  images: '{{ product.selected_or_first_available_variant.featured_image | image_url }}',
                  price: '{{ product.selected_or_first_available_variant.price | money }}',
                  title: '{{ product.title }}',
                  url: window.location.href
                });
              "
            >
              Add to Babylist
            </a>
          {%- endif -%}
          {%- if show_dynamic_checkout
            and product.selected_or_first_available_variant.metafields.custom.walmart_id == blank
            and product.selected_or_first_available_variant.metafields.custom.amazon_id == blank
          -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
    </product-form>
  {%- else -%}
    <div class="product-form">
      <div class="product-form__buttons form">
        <button
          type="submit"
          name="add"
          class="product-form__submit button button--full-width button--primary"
          disabled
        >
          {{ 'products.product.sold_out' | t }}
        </button>
      </div>
    </div>
  {%- endif -%}

  {%- if show_pickup_availability -%}
    {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

    {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
      | where: 'pick_up_enabled', true
    -%}

    <pickup-availability
      class="product__pickup-availabilities no-js-hidden quick-add-hidden"
      {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
        available
      {% endif %}
      data-root-url="{{ routes.root_url }}"
      data-variant-id="{{ product.selected_or_first_available_variant.id }}"
      data-has-only-default-variant="{{ product.has_only_default_variant }}"
    >
      <template>
        <pickup-availability-preview class="pickup-availability-preview">
          {% render 'icon-unavailable' %}
          <div class="pickup-availability-info">
            <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
            <button class="pickup-availability-button link link--text underlined-link">
              {{ 'products.product.pickup_availability.refresh' | t }}
            </button>
          </div>
        </pickup-availability-preview>
      </template>
    </pickup-availability>

    <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
</div>
