{%- style -%}
  .section-{{ section.id }}-margin hr {
    margin-top: {{ section.settings.divider_spacing | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.divider_spacing | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-margin hr {
      margin-top: {{ section.settings.divider_spacing }}px;
      margin-bottom: {{ section.settings.divider_spacing }}px;
    }
  }
{%- endstyle -%}

<section class="section {{ section.settings.css_class }} section-{{ section.id }}-margin">
  <div class="container">
    <div class="one-whole column">
      <hr class="divider divider--{{ section.settings.divider_border }}">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Evenflo Divider",
  "class": "shopify-section--divider",
  "settings": [
    {
      "type": "paragraph",
      "content": "Add spacing in between your sections by using a divider."
    },
    {
      "type": "range",
      "id": "divider_spacing",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Space",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "divider_border",
      "label": "Show border",
      "default": false
    },

    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "presets": [
    {
      "name": "Divider",
      "category": "Layout"
    }
  ]
}
{% endschema %}
