{{ 'section-video.css' | asset_url | stylesheet_tag }}
{% for variant in product.variants %}
{% if product.selected_or_first_available_variant.id == variant.id %}
<strong>Only {{ variant.metafields.my_fields.quantity_by_color }} {{ variant.metafields.custom.short_description_header }} PCS are available in {{variant.title}}!</strong>
{% endif %}
{% endfor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
$(".no-js-hidden").on("click", function(){
var refreshint = setInterval(function(){
location.reload();
}, 1000);    });   });
</script>

{% assign vimeo_product_video_value = product.metafields.sf_products.vimeo_product_video %}

{% if vimeo_product_video_value != blank %}
  <section class="evenflo-video">
    Header
    <div class="content-container-video page-width color-accent-3 rich-text--full-width content-container--full-width">
      <div class="flex-row">
        <div class="flex-item video-content-section">
          <h2 class="h1 heading-underline">Header {{ product.metafields.variant.metafields.custom.short_description_header }}</h2>
          {{ product.metafields.sf_products.short_description }}
        </div>
        <div class="flex-item video-section">
          <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe
              src="https://player.vimeo.com/video/1234?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
              style="position:absolute;top:0;left:0;width:100%;height:100%;"
              title="Evenflo Shyft DualRide Infant Car Seat Stroller Combo"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Evenflo Video Variant",
  "class": "video",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Video Variant"
    }
  ]
}
{% endschema %}
