<section class="evenflo-loyalty-banner">
  <div style="position: relative;">
    <a href="{{ section.settings.link_url }}" style="position: absolute; inset: 0">
    </a>
    {%- for block in section.blocks -%}
    {% if block.settings.loyalty_option == 'gold' %}
    {% if customer.tags contains "swell_vip_gold" %}
      <div class="desktop">
        <img
          width=""
          height=""
          class="desktop"
          src="{{ block.settings.image_desktop | file_img_url: 'large' | image_tag }}">
      </div>
      <div class="mobile">
        <img
          width=""
          height=""
          class="mobile"
          src="{{ block.settings.image_mobile }}">
      </div>
    {% endif %}
    {% elsif block.settings.loyalty_option == 'bronse$silver' %}
    {% if customer.tags contains  "swell_vip_bronze" or customer.tags contains  "swell_vip_silver" %}
      <div class="desktop">
        <img
          width=""
          height=""
          class="desktop"
          src="{{ block.settings.image_desktop }}">
      </div>
      <div class="mobile">
        <img
          width=""
          height=""
          class="mobile"
          src="{{ block.settings.image_mobile }}">
      </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    <div style="min-height: 100%; margin: 0; z-index: 20 !important;">
      <div style="position: absolute; bottom: 1.2vh; right: 7vw; width: 200px;">
        <p style="color: white !important; text-align: right;">
          <a href="{{ section.settings.section_text_url }}" style="color: white !important;">
            {{- section.settings.sectoin_link_text -}}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

{% stylesheet %}
   .mobile,
  .desktop {
    min-width: 100%;
  }

  @media screen and (min-width: 800px) {
    .mobile {
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
    .desktop {
      display: none;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Evenflo Loyalty Banner",
  "settings": [
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL",
        "info": "Enter the URL for the link."
      },
      {
        "type": "url",
        "id": "section_text_url",
        "label": "Section URL",
        "info": "Enter the URL for the link."
      },
      {
        "type": "text",
        "id": "sectoin_link_text",
        "label": "Section URL Text",
        "default": "*Conditions apply. Details",
        "info": "Enter the text that will be displayed for the link."
      }
  ],
  "tag": "section",
  "blocks": [
    {
      "type": "loyalty",
      "name": "Loyalty Image",
      "settings": [
         {
          "type": "select",
          "id": "loyalty_option",
          "label": "Loyalty Option",
          "options": [
            { "value": "gold", "label": "Gold" },
            { "value": "bronse&silver", "label": "Bronse and Silver" },
            { "value": "default", "label": "Default" }
          ]
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Gold Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Gold Mobile Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Evenflo Loyalty Banner",
      "category": "loyalty",
      "blocks": [
        {
          "type": "loyalty"
        },
        {
          "type": "loyalty"
        },
        {
          "type": "loyalty"
        }
      ]
    }
  ]
}
{% endschema %}
