{{ 'section-pdp-support.css' | asset_url | stylesheet_tag }}

{% if product.vendor == 'Evenflo' %}
  {% assign product_vendor = 'vendor-evenflo' %}
{% elsif product.vendor == 'Exersaucer' %}
  {% assign product_vendor = 'vendor-exersaucer' %}
{% elsif product.vendor == 'Evenflo Gold' %}
  {% assign product_vendor = 'vendor-gold' %}
{% elsif product.vendor == 'Rollplay' %}

{% endif %}

{% if product.type == 'Gates' %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      <!-- opening for gate -->

      {% assign my_switch = product.metafields.sf_gates.walk_thru_door %}
      {% assign min_opening_size = product.metafields.sf_gates.min_opening_size %}
      {% assign max_opening_size = product.metafields.sf_gates.max_opening_size %}
      {% assign opening_type = product.metafields.sf_gates.opening_type_s_ %}
      {% assign use_case = product.metafields.sf_gates.use_case | split: ',' %}
      {% assign my_tags = product.metafields.sf_gates.mount_type | split: ',' %}
      {% if min_opening_size and max_opening_size and my_tags.size > 0 %}
        <div class="row-title">
          <h3 class="h1 heading-underline">Gate Specifications</h3>
        </div>
        <!-- <div class="feature_divider"></div> -->
        <div class="flex-row">
          <div class="flex-item-small">
            <h3>Opening Size Min</h3>
            {{ min_opening_size }} inches
          </div>
          <div class="flex-item-small">
            <h3>Opening Size Max</h3>
            {{ max_opening_size }} inches
          </div>
          <div class="flex-item-small">
            <h3>Mount Type</h3>
            {% for tag in my_tags %}
              {{ tag -}}
              {%- if tag != my_tags.last %},{% endif %}
            {% endfor %}
          </div>

          <div class="flex-item-small">
            <h3>Opening Type</h3>
            {{ opening_type }}
          </div>
          <div class="flex-item-small">
            <h3>Use Cases</h3>
            {% for tag in use_case %}
              {{ tag -}}
              {%- if tag != use_case.last %},{% endif %}
            {% endfor %}
          </div>
          <div class="flex-item-small">
            <h3>Walk-Thru Door</h3>
            {% if my_switch == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if product.vendor == 'Exersaucer' %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      {% assign tablet_holder = product.metafields.sf_playard.tablet_holder %}
      {% assign toys_entertainment = product.metafields.sf_playard.toys_entertainment %}
      {% assign batteries_required_bassinet = product.metafields.sf_bassinet.batteries_required %}
      {% assign battery_cell_type_bassinet = product.metafields.sf_bassinet.battery_cell_type %}
      {% assign toy_battery_cell_type = product.metafields.sf_activity.battery_cell_type %}
      {% assign my_tags = product.metafields.sf_activity.battery_cell_type | split: ',' %}
      {% assign electronic_toys_features = product.metafields.sf_activity.electronic_toys_features | split: ',' %}
      {% assign child_weight_min_value = product.metafields.sf_products.child_weight_min %}
      {% assign child_weight_max_value = product.metafields.sf_products.child_weight_max %}
      {% assign child_height_min_value = product.metafields.sf_products.child_height_min %}
      {% assign child_height_max_value = product.metafields.sf_products.child_height_max %}
      {% assign number_of_height_modes = product.metafields.sf_activity.number_of_height_modes %}

      {% assign child_age_min_value = product.metafields.sf_products.child_age_min | strip %}

          <div class="row-title">
          <h3 class="h1 heading-underline">{{ collection.title }}  Specifications</h3>
        </div>
          <div class="flex-row pdp-support">
            <div class="flex-item-small">
              <h3>Child Fit</h3>
               <h5>Weight</h5>
                {% if child_weight_min_value %}
                {{ child_weight_min_value }} -
                {% endif %}
                {% if child_weight_max_value %}
                  {{ child_weight_max_value }} lbs
                {% endif %}
  <h5>Height</h5>
                {% if child_height_min_value %}
                  {{ child_height_min_value }} -
                {% endif %}
                {% if child_height_max_value %}
                  {{ child_height_max_value }} in
                {% endif %}
                  <h5>Minimum Age</h5>
                {% if child_age_min_value %}
                  {{ child_age_min_value }}
                {% endif %}
            </div>
            <div class="flex-item-small">
              <h3>Battery Required</h3>
                  {%if batteries_required_bassinet == 1 %}
                  Yes
                  {% else %}
                  No
                  {% endif %}
            </div>
          </div>
    </div>
  </section>
{% endif %}

{%- if product.type == 'Stroller' or product.type == 'Travel System' %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      `
      <!-- stroller and travel systems -->
      {% assign number_of_height_modes = product.metafields.sf_activity.number_of_height_modes %}
      {% assign wheel_material = product.metafields.sf_stroller.wheel_material %}
      {% assign stroller_type = product.metafields.sf_stroller.stroller_type %}
      {% assign number_of_cup_holders = product.metafields.sf_products.number_of_cup_holders %}
      {% assign self_standing_fold = product.metafields.sf_stroller.self_standing_fold %}
      {% assign upf_50_sun_protection_canopy = product.metafields.sf_stroller.upf_50_sun_protection_canopy %}
      {% assign lockable_front_wheels = product.metafields.sf_stroller.lockable_front_wheels %}
      {% assign accepts_infant_car_seat = product.metafields.sf_stroller.accepts_infant_car_seat %}
      {% assign accepts_rider_board = product.metafields.sf_stroller.accepts_rider_board %}
      {% assign single_to_double_capable = product.metafields.sf_stroller.single_to_double_capable %}
      {% if number_of_height_modes or wheel_material or stroller_type or number_of_cup_holders %}
        <div class="left-column-data pdp-child-info">
          <h3 class="h1 heading-underline">Stroller Specifications</h3>
          <div class="flex-row pdp-support">
            <div class="flex-item-small">
              <h4>Self Standing</h4>
              {% if self_standing_fold == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="flex-item-small">
              <h3>UPF 50+ Sun Protection Canopy</h3>
              {% if upf_50_sun_protection_canopy == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="flex-item-small">
              <h3>Accepts Rider Board</h3>
              {% if accepts_rider_board == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>

            {% if number_of_cup_holders %}
              <div class="flex-item-small">
                <h3>Number of Cup Holders</h3>
                {{ number_of_cup_holders }}
              </div>
            {% endif %}
            <div class="flex-item-small">
              <h3>Single to Double Capable</h3>
              {% if single_to_double_capable == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="flex-item-small">
              <h3>Lockable Front Wheels</h3>
              {% if lockable_front_wheels == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>

            <div class="flex-item-small">
              <h3>Accepts Infant Car Seat</h3>
              {% if accepts_infant_car_seat == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>

            {% if number_of_height_modes %}
              <div class="flex-item-small">
                <h3>Number of Height Modes</h3>
                {{ number_of_height_modes }}
              </div>
            {% endif %}

            {% if wheel_material %}
              <div class="flex-item-small">
                <h3>Wheel Material</h3>
                {{ wheel_material }}
              </div>
            {% endif %}

            {% if stroller_type %}
              <div class="flex-item-small">
                <h3>Stroller Type</h3>
                {{ stroller_type }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if product.type contains 'Car Seat' or product.type contains 'Travel System' %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      <!-- car seat specifications -->

      {% assign steel_reinforced = product.metafields.sf_car_seat.steel_reinforced %}
      {% assign bubble_level = product.metafields.sf_car_seat.bubble_level %}
      {% assign harness_covers = product.metafields.sf_car_seat.harness_covers %}
      {% assign latch_install = product.metafields.sf_car_seat.latch_install %}
      {% assign lightweight = product.metafields.sf_car_seat.lightweight %}
      {% assign no_rethread_harness = product.metafields.sf_car_seat.no_rethread_harness %}
      {% assign side_impact_protection = product.metafields.sf_car_seat.side_impact_protection %}
      {% assign anti_rebound_bar = product.metafields.sf_car_seat.anti_rebound_bar %}
      {% assign converts_to_no_back_booster = product.metafields.sf_car_seat.converts_to_no_back_booster %}
      {% assign high_back = product.metafields.sf_car_seat.high_back %}
      {% assign has_harness_booster_mode = product.metafields.sf_car_seat.has_harness_booster_mode %}
      <div class="flex-row">
        <h3 class="h1 heading-underline">Car Seat Specifications</h3>
      </div>
      <!-- <div class="feature_divider"></div> -->
      <div class="flex-row pdp-support">
        <div class="flex-item-small">
          <h3>Steel Reinforced</h3>
          <p>
            {% if steel_reinforced == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </p>
        </div>
        <div class="flex-item-small">
          <h3>Bubble Level</h3>
          {% if bubble_level == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="flex-item-small">
          <h3>Harness Covers</h3>
          {% if harness_covers == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>

        <div class="flex-item-small">
          <h3>Latch Install</h3>
          {% if latch_install == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="flex-item-small">
          <h3>Lightweight</h3>
          {% if lightweight == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="flex-item-small">
          <h3>No Rethread Harness</h3>
          {% if no_rethread_harness == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="flex-item-small">
          <h3>Side Impact Protection</h3>
          {% if side_impact_protection == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="flex-item-small">
          <h3>Anti-Rebound Bar</h3>
          {% if anti_rebound_bar == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>

        <div class="flex-item-small">
          <h3>Converts to No Back Booster</h3>
          {% if converts_to_no_back_booster == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="flex-item-small">
          <h3>High Back</h3>
          {% if high_back == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="flex-item-small">
          <h3>Has Harness Booster Mode</h3>
          {% if has_harness_booster_mode == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      <div class="flex-row">
        <!-- rear facing mode for car seat -->
        {% assign rear_facing_weight_min = product.metafields.sf_car_seat.rear_facing_weight_min %}
        {% assign rear_facing_weight_max = product.metafields.sf_car_seat.rear_facing_weight_max %}
        {% assign rear_facing_height_min = product.metafields.sf_car_seat.rear_facing_height_min %}
        {% assign rear_facing_height_max = product.metafields.sf_car_seat.rear_facing_height_max %}
        {% assign rear_facing_age_limit = product.metafields.sf_car_seat.rear_facing_age_limit %}
        {% assign rear_facing_fit_statement = product.metafields.sf_car_seat.rear_facing_fit_statement %}
        {% if rear_facing_weight_min
          and rear_facing_weight_max
          and rear_facing_height_min
          and rear_facing_height_max
          and rear_facing_fit_statement
        %}
          <div class="flex-item-third">
            <div class="flex-row">
              <h3>Rear-Facing Mode</h3>
            </div>

            <div class="flex-row pdp-support">
              <div class="flex-item-small">
                <h3>Weight</h3>
                <p>{{ rear_facing_weight_min }} - {{ rear_facing_weight_max }} lbs</p>
              </div>
              <div class="flex-item-small">
                <h3>Height</h3>
                {{ rear_facing_height_min }} - {{ rear_facing_height_max }} in
              </div>
            </div>
            <div class="statement">
              {{ rear_facing_fit_statement }}
            </div>
          </div>
        {% endif %}

        <!-- forward facing mode for car seat -->
        {% assign forward_facing_weight_min = product.metafields.sf_car_seat.forward_facing_weight_min %}
        {% assign forward_facing_weight_max = product.metafields.sf_car_seat.forward_facing_weight_max %}
        {% assign forward_facing_height_min = product.metafields.sf_car_seat.forward_facing_height_min %}
        {% assign forward_facing_height_max = product.metafields.sf_car_seat.forward_facing_height_max %}
        {% assign forward_facing_age_limit = product.metafields.sf_car_seat.forward_facing_age_limit %}
        {% assign forward_facing_fit_statement = product.metafields.sf_car_seat.forward_facing_fit_statement %}
        {% if forward_facing_weight_min
          and forward_facing_weight_max
          and forward_facing_height_min
          and forward_facing_height_max
          and forward_facing_fit_statement
        %}
          <div class="flex-item-third">
            <div class="flex-row">
              <h3>Forward-Facing Mode</h3>
            </div>

            <!-- <div class="feature_divider"></div> -->
            <div class="flex-row pdp-support">
              <div class="flex-item-small">
                <h5>Weight</h5>
                {{ forward_facing_weight_min }} - {{ forward_facing_weight_max }} lbs
              </div>
              <div class="flex-item-small">
                <h5>Height</h5>
                {{ forward_facing_height_min }} - {{ forward_facing_height_max }} in
              </div>
            </div>
            <div class="statement">
              {{ forward_facing_fit_statement }}
            </div>
          </div>
        {% endif %}

        <!-- high back mode for car seat -->
        {% assign high_back_weight_min = product.metafields.sf_car_seat.high_back_weight_min %}
        {% assign high_back_weight_max = product.metafields.sf_car_seat.high_back_weight_max %}
        {% assign high_back_height_min = product.metafields.sf_car_seat.high_back_height_min %}
        {% assign high_back_height_max = product.metafields.sf_car_seat.high_back_height_max %}
        {% assign high_back_fit_statement = product.metafields.sf_car_seat.high_back_fit_statement %}
        {% if high_back_weight_min
          or high_back_weight_max
          or high_back_height_min
          or high_back_height_max
          and high_back_fit_statement
        %}
          <div class="flex-item-third">
            <div class="flex-row">
              <h3>High Back Booster Mode</h3>
            </div>
            <div class="flex-row pdp-support">
              {% if high_back_fit_statement %}
                <div class="flex-item-small">
                  <h3>Weight</h3>
                  {{ high_back_weight_min }} - {{ high_back_weight_max }} lbs
                </div>
              {% endif %}
              {% if high_back_fit_statement %}
                <div class="flex-item-small">
                  <h3>Height</h3>
                  {{ high_back_height_min }} - {{ high_back_height_max }} in
                </div>
              {% endif %}
            </div>
            {% if high_back_fit_statement %}
              <div class="statement">
                {{ high_back_fit_statement }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Evenflo Product Support",
  "class": "support",
  "settings": [
    {
      "type": "text",
      "id": "support_heading",
      "label": "Support Heading",
      "default": "Support"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Product Support"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
