{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}
{{ 'section-product-faq.css' | asset_url | stylesheet_tag }}
{% assign faqs = product.metafields.custom.support_page_faq.value %}

{%- # Label: Number of FAQ -%}

{% if faqs %}
  <section class="product-faq">
    <div class="content-container page-width content-container--full-width">
      <div class="collapsible-content isolate" id="questions">
        <div class="collapsible-content__wrapper">
          {% for faqItem in faqs %}
            <h3 class="accordion__title">
              {{ faqItem.tag }}
            </h3>
            {% for faq in faqItem.faqs %}
              <div class="accordion">
                <details>
                  <summary>
                    <h3 class="accordion__title">
                      {{ faq.question }}
                    </h3>
                    {% render 'icon-caret' %}
                  </summary>

                  <div class="accordion__content rtl">
                    {{ faq.answer | strip_html | escape }}
                  </div>
                </details>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% else %}

{% endif %}

{% schema %}
{
  "name": "Evenflo FAQs",
  "class": "faq",
  "tag": "section",
  "settings": [
    {
      "type": "number",
      "id": "number_of_faq",
      "label": "Number of FAQ",
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "Evenflo FAQs"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
