

    {% assign default_background_image = 'https://www.evenflo.com/cdn/shop/files/Evenflo-Benefit-1.png?v=1690902298&width=303' %} <!-- Adjust if using an external URL -->

    {% if section.settings.backgroundImage %}
    {% assign background_image = section.settings.backgroundImage | image_url %}
    {% else %}
    {% assign background_image = default_background_image %}
    {% endif %}

    <style>
    .support-content-wrapper {
        background-image: url({{ background_image }});
    }
    @media screen and (max-width: 767px) {
      .support-content-wrapper:after{
        background-image: url({{ background_image }});
      }
    }
    </style>



        <div class="support-block">
			<div class="page-width">
				<div class="support-content-wrapper">
					<div class="support-card">
						<div class="support-heading">
							<h1> {{ section.settings.supportTitle }}</h1>
							<p>
								{{ section.settings.supportDescription }}
							</p>
						</div>
						<div class="support-card-btn">
							<button>{{ section.settings.supportActionButton }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>

      


    







{% schema %}
{
  "name": "EvenFlo FAQ Support",
  "tag": "section",
  "class": "TopicQuestion",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "supportTitle",
      "label": "Support Title",
      "default":"Get Support"
    },
    {
      "type": "text",
      "id": "supportDescription",
      "label": "Support Description",
      "default":"Tincidunt mollis nisi volutpat quam. Justo, erat feugiat ornare condimentum."
    },
    {
      "type": "text",
      "id": "supportActionButton",
      "label": "Button Title",
      "default":"Call to Action"
    },
    {
      "type": "image_picker",
      "id": "backgroundImage",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "EvenFlo FAQ Support",
      "blocks": [
        
      ]
    }
  ]
  
}
{% endschema %}