<div class="evenflo-quote-slider-block">
  <div class="evenflo-quote-slider page-width">
    {% for block in section.blocks %}
      <div class="evenflo-quote-slider-content">
        <div class="evenflo-quote-img">
          <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.title }}">
        </div>
        <div class="evenflo-quote-content">
          <h5>{{ block.settings.subtitle }}</h5> <!-- Subtitle -->
          <h1>{{ block.settings.title }}</h1>     <!-- Title -->
          <p>{{ block.settings.quote_id }}</p>    <!-- Quote -->
          <h4>{{ block.settings.name }}</h4>      <!-- Name -->
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Evenflo Quote Slider",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "slider_block",
      "name": "Evenflo Quote Slide",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slider Image"
        },
        {
          "type": "text",
          "id": "subtitle",
          "default": "REVOLVE360 SLIM",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Economic Swivel Car Seat",
          "label": "Title"
        },
        {
          "type": "inline_richtext",
          "id": "quote_id",
          "default": "Economic Swivel Car Seat",
          "label": "Quote"
        },
        {
          "type": "text",
          "id": "name",
          "default": "Economic Swivel Car Seat",
          "label": "Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Evenflo Quote Slider",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
