{{ 'section-product-highlights.css' | asset_url | stylesheet_tag }}

<section class="product-highlights anchor-gradient">
  <div class="content-container page-width color-accent-4 rich-text--full-width content-container--full-width">
    <div class="flex-row">
      {% for collection in product.collections %}
        {% comment %} Stroller combos {% endcomment %}
        {% if collection.handle == 'car-seat-stroller-combos' %}
          <div class="flex-item">
            <h3>Child Fit</h3>
            <div>
              <strong>Weight:</strong>
              {{ product.metafields.sf_products.child_weight_min }} - {{ product.metafields.sf_products.child_weight_max }} lbs</div>
            <div>
              <strong>Height:</strong>
              {{ product.metafields.sf_products.child_height_min }} - {{ product.metafields.sf_products.child_weight_max }} lbs</div>
          </div>
          <div class="flex-item">
            <h3>Product Dimensions</h3>
            <div>
              <strong>Folded:</strong>
              {{ product.metafields.sf_products.child_weight_min }} - {{ product.metafields.sf_products.child_weight_max }} lbs</div>
            <div>
              <strong>Unfolded:</strong>
              {{ product.metafields.sf_products.child_height_min }} - {{ product.metafields.sf_products.child_weight_max }} lbs</div>
          </div>
          <div class="flex-item">
            <h3>Modes of Use</h3>
            <div>
              <strong>Weight:</strong>
              {{ product.metafields.sf_products.child_weight_min }} - {{ product.metafields.sf_products.child_weight_max }} lbs</div>
            <div>
              <strong>Height:</strong>
              {{ product.metafields.sf_products.child_height_min }} - {{ product.metafields.sf_products.child_weight_max }} lbs</div>
          </div>
          <div class="flex-item">
            <h3>Specs</h3>
            <div>
              <strong>SensorSafe:</strong>
            </div>
            <div>
              <strong>Installation:</strong>
            </div>
            <div>
              <strong>Anti-Rebound Bar:</strong>
              {% assign anti_rebound_bar = product.metafields.sf_car_seat.anti_rebound_bar %}
              {% if anti_rebound_bar == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div>
              <strong>Steel Reinforced:</strong>
              {% assign steel_reinforced = product.metafields.sf_car_seat.steel_reinforced %}
              {% if steel_reinforced == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
          {% endif %}
          {% comment %} End Stroller combos {% endcomment %}
         

      {% endfor %}
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "PDP Highlights",
    "class": "text",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "PDP Highlights"
      }
    ]
  }
{% endschema %}