


{% assign dynamic_background = section.settings.backGroundColor_hero %}
<style>
  :root {
    --background: {{ dynamic_background }};
  }
</style> 


{% assign has_search_or_links = false %}

{%- for block in section.blocks -%}
  {% if block.type == 'search' or block.type == 'links' %}
    {% assign has_search_or_links = true %}
  {% endif %}
{%- endfor -%}

{% if section.blocks.size > 0 %}
<div class="help-articles-block">
  <div class="help-articles-content page-width center">

    {% if has_search_or_links %}
      <div class="help-article-search-wrapper">
    {% endif %}

    {%- for block in section.blocks -%}


      {%- case block.type -%}


        {%- when 'heading' -%}
          <!-- Block 1: Heading -->
          <h1 class="{{ block.settings.heading_size }}"> {{ block.settings.heading }}</h1>

        {%- when 'search' -%}
          <!-- Block 2: Search Box -->
          <input id="searchBox" class="needsclick go648205600 kl-private-reset-css-Xuajs1" type="text"
              name="search" tabindex="0" placeholder="Search"
              style="box-sizing: border-box;border-radius: 0px;padding: 0px 0px 0px 16px;height: 50px;text-align: left;color:
               rgb(0, 0, 0);font-size: 24px;font-weight: 400;letter-spacing: 0px;background-color:
                rgb(255, 255, 255);border: 1px solid rgb(180, 187, 195);width: 100%;">
          
        {%- when 'links' -%}
          <!-- Block 3: Button Links -->
          <div class="help-article-link-wrapper">
              <a onclick="searchProducts(1)" href="{{ block.settings.linkone }}">{{ block.settings.linkoneName }}</a>
              <a onclick="searchProducts(2)"  href="{{ block.settings.linktwo }}">{{ block.settings.linktwoName }}</a>
          </div>


      {%- endcase -%}


    {%- endfor -%}


    {% if has_search_or_links %}
      </div> <!-- Closing the help-article-search-wrapper div -->
    {% endif %}
    
  </div>
</div>
{% endif %}





 

  {% javascript %}
    <script>
    
        function searchProducts(type=1) {
          //evenflo-faq-search
          const searchValue = document.getElementById('searchBox').value;
          alert('Value is ncnv '+searchValue)
          //window.location.href = '/pages/evenflo-faq-search?search='+searchValue;
          window.location.href = '{{ routes.root_url }}/pages/evenflo-faq-search';

      }

      </script>

  {% endjavascript %}

  
    {% schema %}
    {
      "name": "EvenFlo FAQ Hero",
      "tag": "section",
      "class": "section",
      "disabled_on": {
        "groups": ["header", "footer"]
      },
      "settings": [
        {
          "type": "color",
          "id": "backGroundColor_hero",
          "label": "BackGround Color",
          "default": "#79E7E4"
        }
      ],
      "blocks": [
        {
          "type": "heading",
          "name": "Heading",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "default": "Talk about your brand",
              "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
            }
          ]
        },
        {
          "type": "search",
          "name": "Search",
          "limit": 1,
          "settings": []
        },
        {
          "type": "links",
          "name": "Links",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "linkoneName",
              "label": "Link One",
              "default":"Find"
            },
            {
              "type": "url",
              "id": "linkone",
              "label": "Link1"
            },
            {
              "type": "text",
              "id": "linktwoName",
              "label": "Link Two",
              "default":"Register"

            },
            {
              "type": "url",
              "id": "linktwo",
              "label": "Link2"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "EvenFlo FAQ Hero",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "search"
            },
            {
              "type": "links"
            }
          ]
        }
      ]
    }
    {% endschema %}
    