{{ 'section-video.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<section class="video">

    <div class="content-container color-accent-3 anchor-gradient flex-container">  
        <div class="video-content-section">
          <h2 class="h1">{{ section.settings.heading }} </h2>
          {{ section.settings.description }} 
        </div>
        <div class="video-section">  
          <video class="pdp-main-video" type='video/mp4' controls>{{ product.metafields.sf_products.product_video }}</video>
        </div>
  </div>
</section>



{% schema %}
  {
  "name": "Evenflo Video",
  "class": "video",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Video"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}