{{ 'section-product-highlights.css' | asset_url | stylesheet_tag }}

<!-- child weight height and age section under the product images that will be here for every type of product -->
{% assign child_weight_min_value = product.metafields.sf_products.child_weight_min %}
{% assign child_weight_max_value = product.metafields.sf_products.child_weight_max %}
{% assign child_height_min_value = product.metafields.sf_products.child_height_min %}
{% assign child_height_max_value = product.metafields.sf_products.child_height_max %}
{% assign child_age_min_value = product.metafields.sf_products.child_age_min | strip %}

{% assign lightweight = product.metafields.sf_car_seat.lightweight %}
{% assign anti_rebound_bar = product.metafields.sf_car_seat.anti_rebound_bar %}

{% assign assembled_width = product.metafields.sf_products.assembled_width %}
{% assign assembled_height = product.metafields.sf_products.assembled_height %}
{% assign assembled_depth = product.metafields.sf_products.assembled_depth %}
{% assign package_width = product.metafields.sf_shipping.package_width %}
{% assign package_height = product.metafields.sf_shipping.package_height %}
{% assign package_depth = product.metafields.sf_shipping.package_depth %}

{% assign modes_of_use = product.metafields.custom.modes_of_use %}
{% assign installation = product.metafields.custom.installation %}

<section class="product-highlights anchor-gradient">
  <div class="content-container page-width color-accent-4 rich-text--full-width content-container--full-width">
    {% if product.type == 'Baby Proofing' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Package Includes</h3>
          <strong>{{ product.metafields.sf_products.retail_package_contents }}</strong>
        </div>
        <div class="flex-item">
          <h3>Warranty Type</h3>
          {% assign product_warranty_link = product.metafields.custom.product_warranty_link %}
          {% if product_warranty_link %}
            {% if product.metafields.sf_products.warranty == '1 Year, 6 Month Battery' %}
              <p class="support-links">
                <a href="{{ product_warranty_link }}">Limited 1 Year, 6-Month Battery Warranty</a>
              </p>
            {% endif %}
          {% endif %}
          {% if product.metafields.sf_products.warranty == 'lifetime-limited' %}
            <p class="support-links">
              <a href="https://www.evenflo.com/pages/warranty">Limited Lifetime Warranty</a>
            </p>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '1 Year, Limited' %}
            <p class="support-links">
              <a href="https://www.evenflo.com/pages/warranty">Limited 1 Year Warranty</a>
            </p>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '90-day-limited' %}
            <p class="support-links">
              <a href="{{ product_warranty_link }}">Limited 90-Day Warranty</a>
            </p>
          {% endif %}
        </div>
        <div class="flex-item">
          <h3>Mount Type</h3>
          <strong>{{ product.metafields.custom.mount_type }}</strong>
        </div>
        <div class="flex-item">
          <h3>Tested To</h3>
          <strong>{{ product.metafields.custom.tested_to }} lbs</strong>
        </div>
      </div>
      <div>
        <a href="{{ product.metafields.custom.support_page_link }}" class="see-more">SEE MORE >></a>
      </div>
    {% endif %}
    {% if product.type == 'Car Seat' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight:</strong>
          {{ product.metafields.sf_products.child_weight_min }} -
          {{ product.metafields.sf_products.child_weight_max }} lbs <br>
          <strong>Height:</strong>
          {{ product.metafields.sf_products.child_height_min }} -
          {{ product.metafields.sf_products.child_height_max }} lbs
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Dimensions:</strong>
          <p>{{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in</p>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          {{ product.metafields.custom.modes_of_use }}
        </div>
      </div>
    {% endif %}
    {% if product.type == 'Infant Car Seat' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong
            >Lightweight :
            {%- if lightweight == 1 %}
              Yes
            {% else %}
              No
            {% endif -%}</strong
          ><br>

          <strong>
            Anti-Rebound Bar :
            {%- if anti_rebound_bar == 1 %}
              Yes
            {% else %}
              No
            {% endif -%}</strong
          ><br>
          Installation : {{  }}
        </div>
      </div>
    {% endif %}
    {% if product.type == 'Convertible Car Seat' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}
    {% if product.type == 'Booster Seat' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong></strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}
    {% if product.type == 'Car Seat Accessories' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>

        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}
    {% if product.type == 'Travel System' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong></strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}
    {% if product.type == 'Stroller' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong></strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}
    {% if product.type == 'Stroller Accessories' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {{ child_weight_min_value }} - {{ child_weight_max_value }} lbs <br>
          <strong>Height</strong>
          {{ child_height_min_value }} - {{ child_height_max_value }} in
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong></strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}
    {% if product.type == 'High Chair' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong></strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}

    {% if product.type == 'High Chair' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit3</h3>
          <strong>Weight</strong>

          {{ child_weight_min_value }} -

          {{ child_weight_max_value }} lbs <br>

          <strong>Height</strong>

          {{ child_height_min_value }} -

          {{ child_height_max_value }} in
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong></strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}

    {% if product.type == 'Baby Gate' %}
      {% assign min_opening_size = product.metafields.sf_gates.min_opening_size %}
      {% assign max_opening_size = product.metafields.sf_gates.max_opening_size %}
      {% assign opening_type = product.metafields.sf_gates.opening_type_s_ %}
      {% assign my_tags = product.metafields.sf_gates.mount_type | split: ',' %}
      {% assign use_case = product.metafields.sf_gates.use_case | split: ',' %}

      <div class="flex-row">
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Opening Type</h3>
          <strong>{{ opening_type }}</strong>
        </div>
        <div class="flex-item">
          <h3>Use Cases</h3>
          <strong>
            {%- for tag in use_case %}
              {{ tag -}}
              {%- if tag != use_case.last %},{% endif %}
            {% endfor -%}
          </strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Opening Size Minimum</strong> {{ min_opening_size }} inches<br>
          <strong>Opening Size Maximum</strong> {{ max_opening_size }} inches <br>
          <strong>Mount Type</strong>
          {% for tag in my_tags %}
            {{ tag -}}
            {%- if tag != my_tags.last %},{% endif %}
          {% endfor %}
          <br>
          <strong>Hardware Included</strong>
          {% assign gate_hardware = product.metafields.sf_gates.hardware_included %}
          {% if gate_hardware == 1 %} Yes {% else %} No {% endif %}
          <br>
        </div>
      </div>
    {% endif %}

    {% if product.type == 'Baby Carrier' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong></strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}
    {% if product.type == 'Door Jumper' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong></strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "PDP Highlights",
  "class": "text",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "PDP Highlights"
    }
  ]
}
{% endschema %}
