
<style>
  .help-articles-block {
	background: var(--background);
}
</style>


{% assign has_search_or_links = false %}

{%- for block in section.blocks -%}
  {% if block.type == 'search' or block.type == 'links' %}
    {% assign has_search_or_links = true %}
  {% endif %}
{%- endfor -%}

{% if section.blocks.size > 0 %}
<div class="help-articles-block">
  <div class="help-articles-content page-width center">

    {% if has_search_or_links %}
      <div class="help-article-search-wrapper">
    {% endif %}

    {%- for block in section.blocks -%}


      {%- case block.type -%}


        {%- when 'heading' -%}
          <!-- Block 1: Heading -->
          <h1 class="{{ block.settings.heading_size }}"> {{ block.settings.heading }}</h1>

        {%- when 'search' -%}
          <!-- Block 2: Search Box -->
          <input id="email_84369887" class="needsclick go648205600 kl-private-reset-css-Xuajs1" type="email"
              autocomplete="email" name="email" tabindex="0" placeholder="Enter your email"
              aria-labelledby="label-email_84369887" aria-invalid="false" options="[object Object]"
              style="box-sizing: border-box;border-radius: 0px;padding: 0px 0px 0px 16px;height: 50px;text-align: left;color: rgb(0, 0, 0);font-size: 24px;font-weight: 400;letter-spacing: 0px;background-color: rgb(255, 255, 255);border: 1px solid rgb(180, 187, 195);width: 100%;">
          
        {%- when 'links' -%}
          <!-- Block 3: Button Links -->
          <div class="help-article-link-wrapper">
              <a href="{{ block.settings.linkone }}">{{ block.settings.linkoneName }}</a>
              <a href="{{ block.settings.linktwo }}">{{ block.settings.linktwoName }}</a>
          </div>


      {%- endcase -%}


    {%- endfor -%}


    {% if has_search_or_links %}
      </div> <!-- Closing the help-article-search-wrapper div -->
    {% endif %}
    
  </div>
</div>
{% endif %}







  <script>
   

    function searchProducts() {
    
      const searchValue = document.getElementById('searchBox').value;
      let productsToShow=getNumberOfProducts();

     
      if (productsToShow > 1) {
        alert('Number of products to show:'+productsToShow);
    
        // Use the productsToShow value in your JavaScript logic
        // For example, you might fetch and display the products here
      } else {
        alert('Element with id "products-container" not found');
      }
  }

  function getNumberOfProducts(){
    let productsContainer = document.getElementById('productsContainer');
    let productsToShow=productsContainer.dataset.productsToShow;
    return productsToShow
  }

    </script>


    {% schema %}
    {
      "name": "EvenFlo FAQ Hero",
      "tag": "section",
      "class": "section",
      "disabled_on": {
        "groups": ["header", "footer"]
      },
      "settings": [
        {
          "type": "color_background",
          "id": "backGroundColor_pop",
          "label": "BackGround Color"
        }
      ],
      "blocks": [
        {
          "type": "heading",
          "name": "Heading",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "default": "Talk about your brand",
              "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
            }
          ]
        },
        {
          "type": "search",
          "name": "Search",
          "limit": 1,
          "settings": []
        },
        {
          "type": "links",
          "name": "Links",
          "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "linkoneName",
              "label": "Link One",
              "default":"Find"
            },
            {
              "type": "url",
              "id": "linkone",
              "label": "Link1"
            },
            {
              "type": "text",
              "id": "linktwoName",
              "label": "Link Two",
              "default":"Register"

            },
            {
              "type": "url",
              "id": "linktwo",
              "label": "Link2"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "EvenFlo FAQ Hero",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "search"
            },
            {
              "type": "links"
            }
          ]
        }
      ]
    }
    {% endschema %}
    