{{ 'section-product-faq.css' | asset_url | stylesheet_tag }}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {% for faq in faqs %}
          {
            "@type": "Question",
            "name": "{{ faq.question }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{ faq.answer }}"
            }
          }{% unless forloop.last %}, {% endunless %}
        {%- endfor -%}
      ]
    }
</script>
{% assign faqs = product.metafields.custom.pdp_faq.value %}
{% if faqs %}
<section class="product-faq">
  <div class="content-container page-width rich-text--full-width content-container--full-width flex-container">

  <div class="column-1">
    <h3>All your Questions Answered</h3>
    <p>Content</p>
    <a href="#">View the product Support Guide</a>
  </div>
<div class="column-2">
  <div class="pdp-questions-wrapper pdp-questions-wrapper" id="questions">
    {% for faq in faqs %}
      {{ faq.question }}
      {{ faq.answer }}
    {%- endfor -%}
  </div>
</div>

</div>
{% endif %}

    

</section>

{% schema %}
  {
  "name": "PDP FAQ",
  "class": "text",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Evenflo PDP FAQ"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}