{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .content-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="isolate">
<div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-template--15815875330204__94000f54-3969-4ee6-a915-e78863cb7546-padding">
  <div class="rich-text__wrapper rich-text__wrapper--center page-width">
    <div class="rich-text__blocks center"><h1 class="rich-text__heading rte inline-richtext evenflo h1" >{{ section.settings.page_title }} </h1></div>
  </div>
</div>
</div>
  
  {% schema %}
    {
    "name": "Evenflo Page Title",
    "class": "text",
    "settings": [
      {
        "type": "text",
        "id": "page_title",
        "label": "Page Title",
        "default": "Page Title",
        "placeholder": "Page Title"
      }
    ],
    "presets": [
      {
        "name": "Evenflo Page Title"
      }
    ]
  }  
  {% endschema %}
  
