{{ 'section-category-anchors.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<section>
<div class="category-anchor">
  <div class="content-container color-accent-4 anchor-gradient rich-text--full-width content-container--full-width">

  </div>
</div>
</section>



{% schema %}
  {
  "name": "PDP Highlights",
  "class": "text",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "PDP Highlights"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}