{{ 'section-product-highlights.css' | asset_url | stylesheet_tag }}

<section class="product-highlights">
  <div class="category-anchor">
    <div class="content-container color-accent-4 anchor-gradient rich-text--full-width content-container--full-width">
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <p><strong>Weight :</strong> {{ product.metafields.sf_products.child_weight_min }} - {{ product.metafields.sf_products.child_weight_max }} lbs</p>
          <p><strong>Height :</strong> {{ product.metafields.sf_products.child_height_min }} - {{ product.metafields.sf_products.child_weight_max }} lbs</p>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
  "name": "PDP Highlights",
  "class": "text",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "PDP Highlights"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
