{{ 'section-product-highlights.css' | asset_url | stylesheet_tag }}

<!-- child weight height and age section under the product images that will be here for every type of product -->
{% assign child_weight_min_value = product.metafields.sf_products.child_weight_min %}
{% assign child_weight_max_value = product.metafields.sf_products.child_weight_max %}
{% assign child_height_min_value = product.metafields.sf_products.child_height_min %}
{% assign child_height_max_value = product.metafields.sf_products.child_height_max %}
{% assign lightweight = product.metafields.sf_car_seat.lightweight %}
{% assign anti_rebound_bar = product.metafields.sf_car_seat.anti_rebound_bar %}
{% assign package_contents = product.metafields.sf_products.retail_package_contents %}
{% assign assembled_width = product.metafields.sf_products.assembled_width %}
{% assign assembled_height = product.metafields.sf_products.assembled_height %}
{% assign assembled_depth = product.metafields.sf_products.assembled_depth %}
{% assign package_width = product.metafields.sf_shipping.package_width %}
{% assign package_height = product.metafields.sf_shipping.package_height %}
{% assign package_depth = product.metafields.sf_shipping.package_depth %}
{% assign folded_dimensions = product.metafields.sf_products.folded_dimensions %}
{% assign accepts_infant_car_seat = product.metafields.sf_stroller.accepts_infant_car_seat %}
{% assign wheel_material = product.metafields.sf_stroller.wheel_material %}
{% assign modes_of_use = product.metafields.custom.modes_of_use | replace: '|', '<br>' %}
{% assign installation = product.metafields.custom.installation %}
{% assign number_of_cup_holders = product.metafields.sf_products.number_of_cup_holders %}
{% assign converts_to_no_back_booster = product.metafields.sf_car_seat.converts_to_no_back_booster %}
{% assign assembly_switch_spec = product.metafields.sf_products.assembly_required %}
{% assign machine_washable = product.metafields.sf_products.machine_washable_seating_surface %}
{% assign made_usa = product.metafields.sf_products.made_in_usa %}
{% assign harness_type = product.metafields.sf_products.harness_type %}
{% assign height_adjustable = product.metafields.sf_high_chair.height_adjustable %}
{% assign suction_range = product.metafields.custom.suction_range %}
{% assign tip_styles = product.metafields.custom.tip_styles %}
{% assign features = product.metafields.product.features %}
{% assign material = product.metafields.sf_products.material %}

{% assign accepts_rider_board = product.metafields.sf_stroller.accepts_rider_board %}
{% assign has_harness_booster_mode = product.metafields.sf_car_seat.has_harness_booster_mode %}

{% assign battery_cell_type = product.metafields.sf_activity.battery_cell_type %}

<section class="product-highlights anchor-gradient">
  <div class="content-container page-width color-accent-4 rich-text--full-width content-container--full-width">
    {% comment %} All in One {% endcomment %}
    {% if template == 'product.all-in-one-car-seat' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit - Rear Facing</h3>

          <strong>Weight:</strong>
          {{ product.metafields.sf_car_seat.rear_facing_weight_min }} -
          {{ product.metafields.sf_car_seat.rear_facing_weight_max }} lbs <br>
          <strong>Height:</strong>
          {{ product.metafields.sf_car_seat.rear_facing_height_min }} -
          {{ product.metafields.sf_car_seat.rear_facing_height_max }} lbs <br>
        </div>
        <div class="flex-item">
          <h3>Child Fit - Forward Facing</h3>
          <strong>Weight:</strong>
          {{ product.metafields.sf_car_seat.forward_facing_weight_min }} -
          {{ product.metafields.sf_car_seat.forward_facing_weight_max }} lbs <br>
          <strong>Height:</strong>
          {{ product.metafields.sf_car_seat.forward_facing_height_min }} -
          {{ product.metafields.sf_car_seat.forward_facing_height_max }} lbs <br>
        </div>

        <div class="flex-item">
          <h3>Child Fit - Booster</h3>
          <strong>Weight:</strong>
          {{ product.metafields.sf_car_seat.belt_pos_booster_weight_min }} -
          {{ product.metafields.sf_car_seat.belt_pos_booster_weight_max }} lbs <br>
          <strong>Height:</strong>
          {{ product.metafields.sf_car_seat.belt_pos_booster_height_min }} -
          {{ product.metafields.sf_car_seat.belt_pos_booster_height_max }} lbs <br>
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          {% assign my_switch = product.metafields.custom.rotation %}
          {% if my_switch == true %}
            <strong>360 Rotation</strong><br>
          {% endif %}
          <strong> {{ product.metafields.custom.installation }} Installation</strong>
          <br>
          {% assign my_switch = product.metafields.sf_car_seat.steel_reinforced %}
          {% if my_switch == 1 %}
            <strong>Steel Reinforced</strong>
          {% endif %}

          <br>
          {% assign my_switch = product.metafields.sf_car_seat.anti_rebound_bar %}
          {% if my_switch == 1 %}
            <strong>Anti Rebound Bar</strong>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% comment %} Baby Proofing {% endcomment %}
    {% if template == 'product.baby-proofing' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Dimensions:</strong><br>
          {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in <br>
        </div>
        <div class="flex-item">
          <h3>Warranty Type</h3>
          {% assign product_warranty_link = product.metafields.custom.product_warranty_link %}
          {% if product_warranty_link %}
            {% if product.metafields.sf_products.warranty == '1 Year, 6 Month Battery' %}
              <a href="{{ product_warranty_link }}">Limited 1 Year, 6-Month Battery Warranty</a><br>
            {% endif %}
          {% endif %}
          {% if product.metafields.sf_products.warranty == 'lifetime-limited' %}
            <a href="https://www.evenflo.com/pages/warranty">Limited Lifetime Warranty</a><br>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '1 Year, Limited' %}
            <a href="https://www.evenflo.com/pages/warranty">Limited 1 Year Warranty</a> <br>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '90-day-limited' %}
            <a href="{{ product_warranty_link }}">Limited 90-Day Warranty</a><br>
          {% endif %}
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>{{ package_contents }}</strong><br>
          <strong>Tested To {{ product.metafields.custom.tested_to }} lbs</strong><br>
          <strong>{{ product.metafields.custom.mount_type }}</strong><br>
        </div>
      </div>
      <div>
        <a href="{{ product.metafields.custom.support_page_link }}" class="see-more">SEE MORE >></a>
      </div>
    {% endif %}

    {% if template == 'product.stroller-wagon' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight :</strong>
          Up To {{ child_weight_max_value }} lbs <br>
          <strong>Height :</strong> Up To {{ child_height_max_value }} in <br>
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Folded: </strong> {{ folded_dimensions -}}
          <br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Accepts Infant Car Seat :</strong>
          {%- if accepts_infant_car_seat == 1 %}
            Yes
          {% else %}
            No
          {% endif -%}
          <br>
          <strong>Wheel Material :</strong>{{ wheel_material -}}
          <br>
          <strong>Stroller Type :</strong> {{ stroller_type -}}
          <br>
          <strong>Accepts Rider Board</strong>
          {% if accepts_rider_board == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
          <br>
        </div>
      </div>
    {% endif %}

    {% if template == 'product.infant-car-seats' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight:</strong>
          {{ child_weight_min_value }} - {{ child_weight_max_value }} lbs<br>
          <strong>Height:</strong>
          {{ child_height_min_value }} - {{ child_height_max_value }} in
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled: {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in</strong><br>
          <strong>Folded: {{ folded_dimensions }}</strong><br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong
            >Lightweight :
            {%- if lightweight == 1 %}
              Yes
            {% else %}
              No
            {% endif -%}</strong
          ><br>

          <strong>
            Anti-Rebound Bar :
            {%- if anti_rebound_bar == 1 %}
              Yes
            {% else %}
              No
            {% endif -%}</strong
          ><br>
          <strong>{{ installation }} Installation</strong>
        </div>
      </div>
    {% endif %}
    {% if template == 'product' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight:</strong>
          {{ child_weight_min_value }} - {{ child_weight_max_value }} lbs<br>
          <strong>Height:</strong>
          {{ child_height_min_value }} - {{ child_height_max_value }} in
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled: {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in</strong><br>
          <strong>Folded: {{ folded_dimensions }}</strong><br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong
            >Lightweight :
            {%- if lightweight == 1 %}
              Yes
            {% else %}
              No
            {% endif -%}</strong
          ><br>

          <strong>
            Anti-Rebound Bar :
            {%- if anti_rebound_bar == 1 %}
              Yes
            {% else %}
              No
            {% endif -%}</strong
          ><br>
          <strong>{{ installation }} Installation</strong>
        </div>
      </div>
    {% endif %}
    {% if template == 'product.convertible-car-seats' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit - Rear Facing</h3>

          <strong>Weight:</strong>
          {{ product.metafields.sf_car_seat.rear_facing_weight_min }} -
          {{ product.metafields.sf_car_seat.rear_facing_weight_max }} lbs <br>
          <strong>Height:</strong>
          {{ product.metafields.sf_car_seat.rear_facing_height_min }} -
          {{ product.metafields.sf_car_seat.rear_facing_height_max }} lbs <br>
        </div>
        <div class="flex-item">
          <h3>Child Fit - Forward Facing</h3>
          <strong>Weight:</strong>
          {{ product.metafields.sf_car_seat.forward_facing_weight_min }} -
          {{ product.metafields.sf_car_seat.forward_facing_weight_max }} lbs <br>
          <strong>Height:</strong>
          {{ product.metafields.sf_car_seat.forward_facing_height_min }} -
          {{ product.metafields.sf_car_seat.forward_facing_height_max }} lbs <br>
        </div>

        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          {% assign my_switch = product.metafields.custom.rotation %}

          {% if my_switch == true %}
            <strong>360 Rotation</strong><br>
          {% endif %}
          <strong> {{ product.metafields.custom.installation }} Installation</strong> <br>

          <strong>Slim Design</strong>
        </div>
      </div>
    {% endif %}
    {% if template == 'product.booster-car-seat' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight:</strong>
          {{ product.metafields.sf_car_seat.belt_pos_booster_weight_min }} -
          {{ product.metafields.sf_car_seat.belt_pos_booster_weight_max }} lbs <br>
          <strong>Height:</strong>
          {{ product.metafields.sf_car_seat.belt_pos_booster_height_min }} -
          {{ product.metafields.sf_car_seat.belt_pos_booster_height_max }} lbs <br>
        </div>

        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>{{ product.metafields.custom.installation }} Installation</strong> <br>
          <strong>Number Of Cupholders</strong>: {{ number_of_cup_holders }}
          <br>
          <strong>Harness Booser Mode :</strong>
          {% if has_harness_booster_mode == 1 %}
            Yes <br>
          {% else %}
            No <br>
          {% endif %}

          <strong>Converts to No Back Booster</strong> :
          {% if converts_to_no_back_booster == 1 %}
            Yes <br>
          {% else %}
            No <br>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if template == 'product.car-seat-accessories' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Warranty Type</h3>

          {% assign product_warranty_link = product.metafields.custom.product_warranty_link %}
          {% if product_warranty_link %}
            {% if product.metafields.sf_products.warranty == '1 Year, 6 Month Battery' %}
              <a href="{{ product_warranty_link }}">Limited 1 Year, 6-Month Battery Warranty</a><br>
            {% endif %}
          {% endif %}
          {% if product.metafields.sf_products.warranty == 'lifetime-limited' %}
            <a href="https://www.evenflo.com/pages/warranty">Limited Lifetime Warranty</a><br>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '1 Year, Limited' %}
            <a href="https://www.evenflo.com/pages/warranty">Limited 1 Year Warranty</a> <br>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '90-day-limited' %}
            <a href="{{ product_warranty_link }}">Limited 90-Day Warranty</a><br>
          {% endif %}
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Assembly Required :</strong>
          {% if assembly_switch_spec == 1 %}
            Yes <br>
          {% else %}
            No<br>
          {% endif %}
          {% assign made_usa = product.metafields.sf_products.made_in_usa %}
          {% if made_usa == 1 %}
            <strong>Made in the USA</strong>
          {% endif %}

          {% assign machine_washable = product.metafields.sf_carrier.machine_washable %}
          {% if machine_washable == 1 %}
            Machine Washable
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if template == 'product.travel-systems' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit - Rear-Facing Infant Car Seat</h3>
          <strong>Weight:</strong>
          {{ product.metafields.sf_car_seat.rear_facing_weight_min }} -
          {{ product.metafields.sf_car_seat.rear_facing_weight_max }} lbs <br>
          <strong>Height:</strong>
          {{ product.metafields.sf_car_seat.rear_facing_height_min }} -
          {{ product.metafields.sf_car_seat.rear_facing_height_max }} lbs <br>
        </div>
        <div class="flex-item">
          <h3>Child Fit - Toddler Seat</h3>
          <strong>Weight:</strong>
          Up To
          {{ product.metafields.sf_products.child_weight_max }} lbs<br>
          <strong>Height:</strong>
          Up To
          {{ product.metafields.sf_products.child_height_max }} inax_value }} in
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Folded:</strong> {{ folded_dimensions -}}
          <br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Sensorsafe</strong>

          <br>
          <strong>{{ product.metafields.custom.installation }} Installation </strong>
          <br>
          {% assign rebound = product.metafields.sf_car_seat.anti_rebound_bar %}
          {% if rebound == 1 %}
            <strong>Anti Rebound Bar</strong><br>
          {% endif %}
          {% assign steel = product.metafields.sf_car_seat.steel_reinforced %}
          {% if steel == 1 %}
            <strong>Steel Reinforced</strong><br>
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if template == 'product.strollers' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight :</strong>
          Up To {{ child_weight_max_value }} lbs <br>
          <strong>Height :</strong> Up To {{ child_height_max_value }} in <br>
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Folded: </strong> {{ folded_dimensions -}}
          <br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Accepts Infant Car Seat :</strong>
          {%- if accepts_infant_car_seat == 1 %}
            Yes
          {% else %}
            No
          {% endif -%}
          <br>
          <strong>Wheel Material :</strong>{{ wheel_material -}}
          <br>
          <strong>Stroller Type :</strong> {{ stroller_type -}}
          <br>
          <strong>Accepts Rider Board</strong>
          {% if accepts_rider_board == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
          <br>
        </div>
      </div>
    {% endif %}
    {% if template == 'product.stroller-accessories' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Warranty Type</h3>

          {% assign product_warranty_link = product.metafields.custom.product_warranty_link %}
          {% if product_warranty_link %}
            {% if product.metafields.sf_products.warranty == '1 Year, 6 Month Battery' %}
              <a href="{{ product_warranty_link }}">Limited 1 Year, 6-Month Battery Warranty</a><br>
            {% endif %}
          {% endif %}
          {% if product.metafields.sf_products.warranty == 'lifetime-limited' %}
            <a href="https://www.evenflo.com/pages/warranty">Limited Lifetime Warranty</a><br>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '1 Year, Limited' %}
            <a href="https://www.evenflo.com/pages/warranty">Limited 1 Year Warranty</a> <br>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '90-day-limited' %}
            <a href="{{ product_warranty_link }}">Limited 90-Day Warranty</a><br>
          {% endif %}
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Hardware Included</strong>
          {% assign gate_hardware = product.metafields.sf_gates.hardware_included %}
          {% if gate_hardware == 1 %} Yes {% else %} No {% endif %}
          {% assign made_usa = product.metafields.sf_products.made_in_usa %}
          {% if made_usa == 1 %}
            <strong>Made in the USA</strong>
          {% endif %}

          {% assign machine_washable = product.metafields.sf_carrier.machine_washable %}
          {% if machine_washable == 1 %}
            Hardware Included
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if template == 'product.high-chairs' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>
            {{ modes_of_use }}
          </strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>{{ harness_type }}</strong><br>
          <strong>Wipeable Cushion</strong><br>
          <strong>Dishwasher Safe Tray</strong><br>
          <strong>Height Adjustable</strong>
          {% if height_adjustable == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if template == 'product.nasal-aspirator' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Features</h3>
          {{ features -}}
          <br>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Suction Range</strong> {{ suction_range -}}
          <br>
          <strong>Tip Styles</strong>
          {{ tip_styles -}}
          <br>
          <strong>Material Composition</strong>

          {% if material %}
            {{ material }}
          {% endif -%}
          <br>
        </div>
      </div>
    {% endif %}

    {% if template == 'product.gates' %}
      {% assign min_opening_size = product.metafields.sf_gates.min_opening_size %}
      {% assign max_opening_size = product.metafields.sf_gates.max_opening_size %}
      {% assign opening_type = product.metafields.sf_gates.opening_type_s_ %}
      {% assign my_tags = product.metafields.sf_gates.mount_type | split: ',' %}
      {% assign use_case = product.metafields.sf_gates.use_case | split: ',' %}

      <div class="flex-row">
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>

        <div class="flex-item">
          <h3>Use Cases</h3>
          <strong>
            {%- for tag in use_case %}
              {{ tag -}}
              {%- if tag != use_case.last %},{% endif %}
            {% endfor -%}
          </strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Opening Size Min</strong> {{ min_opening_size }} in<br>
          <strong>Opening Size Max</strong> {{ max_opening_size }} in <br>
          <strong>Mount Type</strong>
          {% for tag in my_tags %}
            {{ tag -}}
            {%- if tag != my_tags.last %},{% endif %}
          {% endfor %}
          <br>
          <strong>Hardware Included</strong>
          {% assign gate_hardware = product.metafields.sf_gates.hardware_included %}
          {% if gate_hardware == 1 %} Yes {% else %} No {% endif %}
          <br>
          <p>
            {% if product.metafields.custom.link_support_page %}
              <a href="{{product.metafields.custom.link_support_page.value.url}}">Product Support </a>
            {% endif %}
          </p>
        </div>
      </div>
    {% endif %}

    {% if template == 'product.baby-carriers' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Carrier Position</strong>
          {% assign my_tags = product.metafields.sf_carrier.position | split: ',' %}
          {% if my_tags.size > 0 %}
            {% for tag in my_tags %}
              {{ tag -}}
              {%- if tag != my_tags.last %},{% endif -%}
              <br>
            {% endfor %}
          {% endif %}

          {% assign my_switch = product.metafields.sf_carrier.machine_washable %}
          {% if my_switch == 1 %}
            <strong>Machine Washable</strong><br>
            {% assign my_switch = product.metafields.sf_carrier.pacifier_toy_clip %}
            {% if my_switch == 1 %}
              <strong>Pacifier / Toy Clip</strong><br>
            {% endif %}
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if template == 'product.car-seat-stroller-combos' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Sensorsafe</strong><br>
          <strong>Installation</strong><br>
          <strong>Anti Reboun Bar</strong><br>
          <strong>Steel Reinforced</strong><br>
        </div>
      </div>
    {% endif %}

    {% if template == 'product.door-jumpers' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong></strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong></strong>
        </div>
      </div>
    {% endif %}

    {% if template == 'product.baby-activity-center' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
          <strong>Height</strong>
          {% if child_height_min_value %}
            {{ child_height_min_value }} -
          {% endif %}
          {% if child_height_max_value %}
            {{ child_height_max_value }} in
          {% endif -%}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Number of Height Modes</strong> {{ number_of_height_modes -}}
          <br>
          <strong>Batteries Required :</strong> <br>
          <strong>Warranty</strong> <br>
        </div>
      </div>
    {% endif %}

    {% if template == 'product.crib-mattress' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Child Fit</h3>
          <strong>Weight</strong>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs <br>
          {% endif %}
        </div>
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong
            >Eco-Friendly<br>
            Certifications<br>
            Breathable<br>
            Dual-Sided</strong
          >
        </div>
      </div>
    {% endif %}
    {% if template == 'product.dead-stock' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Warranty Type</h3>

          {% assign product_warranty_link = product.metafields.custom.product_warranty_link %}
          {% if product_warranty_link %}
            {% if product.metafields.sf_products.warranty == '1 Year, 6 Month Battery' %}
              <a href="{{ product_warranty_link }}">Limited 1 Year, 6-Month Battery Warranty</a><br>
            {% endif %}
          {% endif %}
          {% if product.metafields.sf_products.warranty == 'lifetime-limited' %}
            <a href="https://www.evenflo.com/pages/warranty">Limited Lifetime Warranty</a><br>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '1 Year, Limited' %}
            <a href="https://www.evenflo.com/pages/warranty">Limited 1 Year Warranty</a> <br>
          {% endif %}
          {% if product.metafields.sf_products.warranty == '90-day-limited' %}
            <a href="{{ product_warranty_link }}">Limited 90-Day Warranty</a><br>
          {% endif %}
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong>Assembly Required :</strong>
          {% if assembly_switch_spec == 1 %}
            Yes <br>
          {% else %}
            No<br>
          {% endif %}
          {% assign made_usa = product.metafields.sf_products.made_in_usa %}
          {% if made_usa == 1 %}
            <strong>Made in the USA</strong>
          {% endif %}

          {% assign machine_washable = product.metafields.sf_carrier.machine_washable %}
          {% if machine_washable == 1 %}
            Machine Washable
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if template == 'product.thermometer' %}
      <div class="flex-row">
        <div class="flex-item">
          <h3>Product Dimensions</h3>
          <strong>Assembled:</strong> {{ assembled_width }} x {{ assembled_height }} x {{ assembled_depth }} in<br>
          <strong>Package:</strong> {{ package_width }} x {{ package_height }} x {{ package_depth }} in<br>
        </div>
        <div class="flex-item">
          <h3>Modes of Use</h3>
          <strong>{{ modes_of_use }}</strong>
        </div>
        <div class="flex-item">
          <h3>Specs</h3>
          <strong
            >Accuracy<br>
            Response Time<br>
            Body Application<br>
            {{ battery_cell_type }}
          </strong>
        </div>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "PDP Highlights",
  "class": "text",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "PDP Highlights"
    }
  ]
}
{% endschema %}
