{{ 'section-full-width.css' | asset_url | stylesheet_tag }}

<section class="full-width">
  <div class="content-container page-width rich-text--full-width content-container--full-width">
    <h2 class="h1 heading-underline">{{ section.settings.heading }}</h2>
    <div class="product__description rte quick-add-hidden" {{ block.shopify_attributes }}>
      {% if product.content != blank %}
        {{ product.content }}
      {% else %}
        {{ section.settings.content }}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Evenflo Full Width",
  "class": "text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Evenflo"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Default Content</p>"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Full Width"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
