{% comment %} {{ 'evenflo-banner-2.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'section-evenflo-banner.css' | asset_url | stylesheet_tag }}
<div
  class="new-custom-banner"
  style="background-image: url({{ section.settings.banner_image | image_url: height: 10000 }});"
>
  <div class="page-width">
    <div class="heading">
      <h1 style="color: {{ section.settings.text_color }}">
        {{ section.settings.banner_text }}
      </h1>
    </div>
  </div>
</div>
<style>
  .new-custom-banner:after {
    background: rgba(0, 0, 0, {{section.settings.overlay_opacity}});
  }
</style>
{% schema %}
{
  "name": "Evenflo Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "banner_text",
      "label": "Banner Text",
      "default": "CHOOSE YOUR GREEN"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.1
    }
  ],
  "presets": [
    {
      "name": "Evenflo Banner"
    }
  ]
}
{% endschema %}
