<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
{% comment %} <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

{% stylesheet %}
  .evenflo-multicolumn-slider .page-width {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .row.cc-three-columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .row > .one-third {
    width: 33.3333%;
    flex: 0 0 auto;
  }
{% endstylesheet %}

<section class="evenflo-multicolumn-slider color-background-1 gradient">
  <div class="page-width page-width--narrow section-{{ section.id }}-padding{% if section.settings.secondary_background %} isolate{% endif %}">
    <div class="row cc-three-columns">
      {% for block in section.blocks %}
        {% assign blockClass = "swiper-{{block.index}}" %}
        <div class="one-third column alpha">
          <a href="{{block.settings.product.url}}">
            <swiper-container class="{{ blockClass }}" navigation="true">
              {% if block.settings.image_0 %}
                {% assign image = block.settings.image_0 %}
                <swiper-slide>{{ image.src | img_url: '350x' | img_tag }}</swiper-slide>
              {% endif %}
              {% if block.settings.image_1 %}
                {% assign image = block.settings.image_1 %}
                <swiper-slide>{{ image.src | img_url: '350x' | img_tag }}</swiper-slide>
              {% endif %}
              {% if block.settings.image_2 %}
                {% assign image = block.settings.image_2 %}
                <swiper-slide>{{ image.src | img_url: '350x' | img_tag }}</swiper-slide>
              {% endif %}
              {% if block.settings.image_3 %}
                {% assign image = block.settings.image_3 %}
                <swiper-slide>{{ image.src | img_url: '350x' | img_tag }}</swiper-slide>
              {% endif %}
            </swiper-container>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Evenflo Multi Slider",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info",
      "default": "Slideshow about our brand"
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "limit": 3,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product Association"
        },
        {
          "type": "image_picker",
          "id": "image_0",
          "label": "Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 4"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Evenflo Multicolumn Slider",
      "blocks": [
        {
          "type": "slider"
        },
        {
          "type": "slider"
        },
        {
          "type": "slider"
        }
      ]
    }
  ]
}
{% endschema %}
