{{ 'section-peace-of-mind.css' | asset_url | stylesheet_tag }}

<section class="peace-of-mind page-width">
  <div class="peace-of-mind__container">
    <div class="peace-of-mind__column">
      <h2 class="h1 heading-underline">{{ section.settings.heading }}</h2>
      {{ section.settings.message }}
        {% assign product_warranty_link = product.metafields.custom.product_warranty_link %}
        {% if product_warranty_link %}
          {% if product.metafields.sf_products.warranty == '1 Year, 6 Month Battery' %}
            <a href="{{ product_warranty_link }}">Limited 1 Year, 6-Month Battery Warranty</a><br>
          {% endif %}
        {% endif %}
        {% if product.metafields.sf_products.warranty == 'lifetime-limited' %}
          <a href="https://www.evenflo.com/pages/warranty">Limited Lifetime Warranty</a><br>
        {% endif %}
        {% if product.metafields.sf_products.warranty == '1 Year, Limited' %}
          <a href="https://www.evenflo.com/pages/warranty">Limited 1 Year Warranty</a>
          <br>
        {% endif %}
        {% if product.metafields.sf_products.warranty == '90-day-limited' %}
          <a href="{{ product_warranty_link }}">Limited 90-Day Warranty</a><br>
        {% endif %}
    </div>
    <div class="peace-of-mind__column">
      {{ section.settings.support_content }}
    </div>
  </div>
</section>



{% schema %}
  {
  "name": "Peace Of Mind",
  "class": "text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "message",
      "label": "Message"
    },
    {
      "type": "html",
      "id": "support_content",
      "label": "Support Content"
    }
  ],
  "presets": [
    {
      "name": "Peace Of Mind"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
