<div class="featured-banner-block">
  <div class="page-width">
    <div class="featured-banner-wrapper">
      <div class="heading">
        <h1 style="color: {{ section.settings.title_color }}">{{ section.settings.banner_title }}</h1>
        <p style="color: {{ section.settings.text_color }}">{{ section.settings.banner_text }}</p>
      </div>
      <div class="featured-banner-img">
        {{ section.settings.banner_image_desktop | image_url: width: 1266 | image_tag }}
      </div>
      {% if section.settings.image_orientation == "right" %}
          RIGHT
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Evenflo Featured Banner",
    "settings": [
  {
    "type": "image_picker",
    "id": "banner_image_desktop",
    "info": "Add Image width of 1266px",
    "label": "Banner Image Desktop"
  },
  {
    "type": "text",
    "id": "banner_title",
    "label": "Banner Title",
    "default": "wheels up to weels down"
  },
  {
    "type": "color",
    "id": "title_color",
    "label": "Title Color",
    "default": "#121212"
  },
  {
    "type": "text",
    "id": "banner_text",
    "label": "Banner Text",
    "default": "Moving from car to sidewalk? Lift the carrier off the base, release the wheels and you’re rolling in no time. Maneuvering stairs? Simply retract the wheels, carry up or down steps, drop the wheels back down and stroll on."
  },
  {
    "type": "color",
    "id": "text_color",
    "label": "Text Color",
    "default": "#121212"
  },
  {
    "type": "select",
    "id": "image_orientation",
    "label": "Image Orientation",
    "options": [
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "right",
        "label": "Right"
      }
    ],
    "default": "right"
  }
],
  "presets": [
      {
        "name": "Evenflo Featured Banner"
      }
]
}
{% endschema %}
{{ 'evenflo-featured-banner.css' | asset_url | stylesheet_tag }}
