{{ 'section-features.css' | asset_url | stylesheet_tag }}

{% assign features = '1,2,3,4' | split: ',' %}

<section class="features">
  <div class="content-container page-width rich-text--full-width content-container--full-width">
    <h2 class="h1 heading-underline">Features</h2>

    {% for feature in features %}
      {% assign feature_image = product.metafields.custom[ 'feature_image_' | append: feature ] %}
      {% assign feature_text = product.metafields.custom[ 'feature_text_' | append: feature ] %}

      {% if feature_text %}
        <div class="flex-row {% if forloop.index > 2 %}reverse{% endif %}">
          <div class="flex-item">
            {% if feature_image %}
              <img src="{{ feature_image }}" alt="Feature {{ feature }} - {{ product.title }}" loading="lazy">
            {% endif %}
          </div>
          <div class="flex-item">
            {{ feature_text }}
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <div class="right">
      {% if product.metafields.custom.product_support_link %}
        <a href="{{ product.metafields.custom.product_support_link.value.url }}">Learn More</a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Evenflo Features",
  "class": "text",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Evenflo Features"
    }
  ]
}
{% endschema %}
