{{ 'evenflo-quote-slider-block.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<style>
   .evenflo-quote-slider-block .swiper {
      width: 100%;
      height: 100%;
  }

  .evenflo-quote-slider-block .swiper-slide {   
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
</style>
<div class="slim-tab-block">
    <div class="page-width">
        <div class="slim-tab-wrapper">
            <div class="heading center">
              <h1>Find your revolve360</h1>
              <p>Revolutionize your backseat with these innovative options with the rotating car seat that’s best for you:</p>
            </div>
          <div class="slim-tab-header">
            <div class="slim-tab-card">
              <img src="https://www.evenflo.com/cdn/shop/files/Extend.png?v=1713107872&width=1250" alt="slim-tab-img">
              <h3>Just 16.7 in. across. Fit more into your backseat!</h3>
              <button class="active">Slim</button>
            </div>
            <div class="slim-tab-card">
              <img src="https://www.evenflo.com/cdn/shop/files/slim.png?v=1713107907&width=1250" alt="slim-tab-img">
              <h3>1 car seat. 3 modes. 10 years. Grow with it!</h3>
              <button>Extend</button>
            </div>
          </div>
          <div class="slim-tab-body">
            <div class="slim-tab-body-content">
              <h1>2-in-1, for children from 4-65 lb. Slim</h1>
               <div class="slim-tab-card">
                <img src="https://www.evenflo.com/cdn/shop/files/slim.png?v=1713107907&width=1250" alt="slim-tab-img">
                <h3>REVOLVE360 SLIM WITH GREEN & GENTLE™ FABRIC</h3>
                <p>Your more sustainable Slim</p>
                <button>Shop Now</button>
              </div>
              <div class="slim-tab-card">
                <img src="https://www.evenflo.com/cdn/shop/files/slim.png?v=1713107907&width=1250" alt="slim-tab-img">
                <h3>REVOLVE360 SLIM WITH GREEN & GENTLE™ FABRIC</h3>
                <p>Your more sustainable Slim</p>
                <button>Shop Now</button>
              </div>   
              <div class="slim-tab-card">
                <img src="https://www.evenflo.com/cdn/shop/files/slim.png?v=1713107907&width=1250" alt="slim-tab-img">
                <h3>REVOLVE360 SLIM WITH GREEN & GENTLE™ FABRIC</h3>
                <p>Your more sustainable Slim</p>
                <button>Shop Now</button>
              </div>
              <div class="slim-tab-card">
                <img src="https://www.evenflo.com/cdn/shop/files/slim.png?v=1713107907&width=1250" alt="slim-tab-img">
                <h3>REVOLVE360 SLIM WITH GREEN & GENTLE™ FABRIC</h3>
                <p>Your more sustainable Slim</p>
                <button>Shop Now</button>
              </div>  
            </div>
            <div class="slim-tab-body-content">
              <h1>2-in-1, for children from 4-65 lb. Extend</h1>
               <div class="slim-tab-card">
                <img src="https://www.evenflo.com/cdn/shop/files/slim.png?v=1713107907&width=1250" alt="slim-tab-img">
                <h3>REVOLVE360 SLIM WITH GREEN & GENTLE™ FABRIC</h3>
                <p>Your more sustainable Extend</p>
                <button>Shop Now</button>
              </div>
              <div class="slim-tab-card">
                <img src="https://www.evenflo.com/cdn/shop/files/slim.png?v=1713107907&width=1250" alt="slim-tab-img">
                <h3>REVOLVE360 SLIM WITH GREEN & GENTLE™ FABRIC</h3>
                <p>Your more sustainable Extend</p>
                <button>Shop Now</button>
              </div>  
              <div class="slim-tab-card">
                <img src="https://www.evenflo.com/cdn/shop/files/slim.png?v=1713107907&width=1250" alt="slim-tab-img">
                <h3>REVOLVE360 SLIM WITH GREEN & GENTLE™ FABRIC</h3>
                <p>Your more sustainable Extend</p>
                <button>Shop Now</button>
              </div>
              <div class="slim-tab-card">
                <img src="https://www.evenflo.com/cdn/shop/files/slim.png?v=1713107907&width=1250" alt="slim-tab-img">
                <h3>REVOLVE360 SLIM WITH GREEN & GENTLE™ FABRIC</h3>
                <p>Your more sustainable Extend</p>
                <button>Shop Now</button>
              </div> 
            </div>
          </div>
        </div>
    </div>
</div>
<div class="evenflo-quote-slider-block">
  <div class="page-width">
    <div class="swiper mySwiper evenflo-quote-slider">
      <div class="swiper-wrapper evenflo-quote-slider-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide evenflo-quote-slider-content">
            <div class="evenflo-quote-img-column">
              <div class="evenflo-quote-img">
                <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.title }}">
              </div>
            </div>
            <div class="evenflo-quote-content-column">
              <div class="evenflo-quote-content">
                <h3>{{ block.settings.subtitle }}</h3>
                <h1>{{ block.settings.title }}</h1>
                <p>{{ block.settings.quote_id }}</p>
                <h3>{{ block.settings.name }}</h3>
              </div>
            </div>  
          </div>
        {% endfor %} 
      </div> 
      <!-- Pagination and Navigation -->
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var swiper = new Swiper(".evenflo-quote-slider-block .mySwiper", {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 0,
      pagination: {
        el: ".swiper-pagination",
        clickable: false,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
          320: {
              // when window width is >= 320px
              slidesPerView: 1,
              spaceBetween: 0,
          },
          640: {
              // when window width is >= 640px
              slidesPerView: 1,
          },
          960: {
              // when window width is >= 960px
              slidesPerView: 1,
          },
    	},
    });
  });
</script>

{% schema %}
{
  "name": "Evenflo Quote Slider",
  "tag": "section",
  "class": "section",
  "settings": [],
  "blocks": [
    {
      "type": "slider_block",
      "name": "Evenflo Quote Slide",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slider Image"
        },
        {
          "type": "text",
          "id": "subtitle",
          "default": "REVOLVE360 SLIM",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Economic Swivel Car Seat",
          "label": "Title"
        },
        {
          "type": "inline_richtext",
          "id": "quote_id",
          "default": "Economic Swivel Car Seat",
          "label": "Quote"
        },
        {
          "type": "text",
          "id": "name",
          "default": "Economic Swivel Car Seat",
          "label": "Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Evenflo Quote Slider",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
