{{ 'section-pdp-support.css' | asset_url | stylesheet_tag }}
{{ 'section-pdp-support.css' | asset_url | stylesheet_tag }}

{% assign child_weight_min_value = product.metafields.sf_products.child_weight_min %}
{% assign child_weight_max_value = product.metafields.sf_products.child_weight_max %}
{% assign child_height_min_value = product.metafields.sf_products.child_height_min %}
{% assign child_height_max_value = product.metafields.sf_products.child_height_max %}
{% assign shipping_restrictions = product.metafields.sf_shipping.shipping_restrictions %}
{% assign product_warranty = product.metafields.sf_products.warranty_type %}

{% assign rethread_method = product.metafields.sf_products.harness_rethread_method %}

{% assign sensorsafe = product.metafields.sf_car_seat.sensorsafe %}
{% assign easy_install = product.metafields.sf_car_seat.easy_install %}
{% assign rollover_tested = product.metafields.sf_car_seat.rollover_tested %}
{% assign converts_to_belt = product.metafields.sf_car_seat.converts_to_belt_position_boos %}

{% assign activity_batteries_required = product.metafields.sf_activity.batteries_required %}
{% assign activity_height_adjustable = product.metafields.sf_activity.height_adjustable %}
{% assign batteries_included = product.metafields.sf_activity.batteries_included %}

{% assign toy_battery_cell_type = product.metafields.sf_activity.battery_cell_type %}
{% assign my_tags = product.metafields.sf_activity.battery_cell_type | split: ',' %}

{% assign batteries_required_bassinet = product.metafields.sf_bassinet.batteries_required %}
{% assign battery_cell_type_bassinet = product.metafields.sf_bassinet.battery_cell_type %}

{% comment %} Bassinets & Cradles {% endcomment %}

{% if product.vendor == 'Rollplay' %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      <!-- carrier positions for carrier -->
      <div class="left-column-data pdp-child-info">
        <h3 class="h1 heading-underline">Rollplay Specifications</h3>
        <div class="flex-row">
          <div class="col">
            <h4>Child Weight</h4>
            {% if child_weight_min_value %}
              {{ child_weight_min_value }} -
            {% endif %}
            {% if child_weight_max_value %}
              {{ child_weight_max_value }} lbs
            {% endif %}
          </div>

          <div class="col">
            <h4>Run Time</h4>
            {{ product.metafields.custom.rollplay_run_time }}
          </div>
          <div class="col">
            <h4>Max Speed</h4>
            {{ product.metafields.custom.rollplay_max_speed }}
          </div>
        </div>
        <div class="flex-row ">
          <div class="col">
            <h3>Battery</h3>
            {% if activity_batteries_required == 1 %}
              Required <br>

            {% else %}
              Not Required<br>
            {% endif %}

            {% if batteries_included == 1 %}
              Batteries Included<br>
            {% else %}
              Batteries Not Inlcuded<br>
            {% endif %}

            Battery Cell Type
            {{ product.metafields.sf_activity.battery_cell_type -}}
            <br>
            {% if product.metafields.custom.battery_replaceable == true %}
              Replaceable <br>
            {% else %}
              Not replaceable<br>
            {% endif %}
          </div>
        </div>
        <div class="flex-row ">
          <div class="col">
            <h3>Warranty</h3>
            {{ product_warranty }}
          </div>
          {% comment %}
            <div class="col">
              <h4>Machine Washable</h4>
              {% assign my_switch = product.metafields.sf_carrier.machine_washable %}
              {% if my_switch == 1 %}
                <p>Yes</p>
              {% endif %}
            </div>
            <div>
              {% if shipping_restrictions %}
                <div>
                  <h3>Shipping Restrictions</h3>
                  <p>
                    {{ shipping_restrictions }}
                  </p>
                </div>
              {% endif %}
            </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{%- if product.type == 'Play Yards' %}
  {% assign bassinet_insert = product.metafields.sf_playard.bassinet_insert %}
  {% assign built_for_travel = product.metafields.sf_playard.built_for_travel %}
  {% assign canopy_overview = product.metafields.sf_playard.canopy | split: ',' %}
  {% assign changing_station = product.metafields.sf_playard.diaper_changing_station %}
  {% assign extra_storage = product.metafields.sf_playard.extra_storage %}
  {% assign tablet_holder = product.metafields.sf_playard.tablet_holder %}
  {% assign built_for_travel = product.metafields.sf_playard.built_for_travel %}
  {% assign toys_entertainment = product.metafields.sf_playard.toys_entertainment %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      <!-- carrier positions for carrier -->
      <div class="left-column-data pdp-child-info">
        <h3 class="h1 heading-underline">Specifications</h3>
        <div class="flex-row">
          <div class="col">
            <h4>Child Weight</h4>
            {% if child_weight_min_value %}
              {{ child_weight_min_value }} -
            {% endif %}
            {% if child_weight_max_value %}
              {{ child_weight_max_value }} lbs
            {% endif %}
          </div>
          <div class="col">
            <h4>Child Height</h4>
            {% if child_height_min_value %}
              {{ child_height_min_value }} -
            {% endif %}
            {% if child_height_max_value %}
              {{ child_height_max_value }} in
            {% endif %}
          </div>
          <div class="col">
            <h4>Bassinet Insert</h4>
            {% if bassinet_insert == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
          <div class="col">
            <h4>Built for Travel</h4>
            {% if built_for_travel == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
          <div class="col">
            <h4>Canopy</h4>
            {% for tag in canopy_overview %}
              {{ tag -}}
              {%- if tag != canopy_overview.last %},{% endif %}
            {% endfor %}
          </div>
          <div class="col">
            <h4>Diaper Changing Station</h4>
            {% if changing_station == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
          <div class="col">
            <h4>Extra Storage</h4>
            {% if extra_storage == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
          <div class="col">
            <h4>Toys/Entertainment</h4>
            {% for tag in toys_entertainment %}
              {{ tag -}}
              {%- if tag != toys_entertainment.last %},{% endif %}
            {% endfor %}
          </div>

          <div class="col">
            <h4>Tablet Holder</h4>
            {% if tablet_holder == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
          <div class="col">
            <h4>Built For Travel</h4>
            {% if tablet_holder == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
          <div class="col">
            <h4>Canopy</h4>
            {{ product.metafields.sf_playard.canopy }}
          </div>
        </div>
        {% assign shipping_restrictions = product.metafields.sf_shipping.shipping_restrictions %}
        <div class="flex-row">
          <div class="flex-item">
            {% if shipping_restrictions %}
              <div>
                <h3>Shipping Restrictions</h3>
                <p>
                  {{ shipping_restrictions }}
                </p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% comment %}
  {%- if product.type == 'Stroller Accessories' %}
    <section class="pdp-support page-width">
      <div class="pdp-support__container pdp-support">
        <!-- carrier positions for carrier -->
        <div class="left-column-data pdp-child-info">
          <h3 class="h1 heading-underline">Specifications</h3>
          <div class="flex-row">
            <div class="col">
              <h4>Child Weight</h4>
              {% if child_weight_min_value %}
                {{ child_weight_min_value }} -
              {% endif %}
              {% if child_weight_max_value %}
                {{ child_weight_max_value }} lbs
              {% endif %}
            </div>
            <div class="col">
              <h4>Child Height</h4>
              {% if child_height_min_value %}
                {{ child_height_min_value }} -
              {% endif %}
              {% if child_height_max_value %}
                {{ child_height_max_value }} in
              {% endif %}
            </div>
            <div class="col">
              <h4>Bassinet Insert</h4>
              {% if bassinet_insert == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h4>Built for Travel</h4>
              {% if built_for_travel == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h4>Canopy</h4>
              {% for tag in canopy_overview %}
                {{ tag -}}
                {%- if tag != canopy_overview.last %},{% endif %}
              {% endfor %}
            </div>
            <div class="col">
              <h4>Diaper Changing Station</h4>
              {% if changing_station == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h4>Extra Storage</h4>
              {% if extra_storage == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h4>Toys/Entertainment</h4>
              {% for tag in toys_entertainment %}
                {{ tag -}}
                {%- if tag != toys_entertainment.last %},{% endif %}
              {% endfor %}
            </div>

            <div class="col">
              <h4>Tablet Holder</h4>
              {% if tablet_holder == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h4>Built For Travel</h4>
              {% if tablet_holder == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h4>Canopy</h4>
              {{ product.metafields.sf_playard.canopy }}
            </div>
          </div>
          {% assign shipping_restrictions = product.metafields.sf_shipping.shipping_restrictions %}
          <div class="flex-row">
            <div class="flex-item">
              {% if shipping_restrictions %}
                <div>
                  <h3>Shipping Restrictions</h3>
                  <p>
                    {{ shipping_restrictions }}
                  </p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endcomment %}

{% if product.type == 'Gates' or product.type == 'Baby Gate' %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      <!-- opening for gate -->

      {% assign my_switch = product.metafields.sf_gates.walk_thru_door %}
      {% assign min_opening_size = product.metafields.sf_gates.min_opening_size %}
      {% assign max_opening_size = product.metafields.sf_gates.max_opening_size %}
      {% assign opening_type = product.metafields.sf_gates.opening_type_s_ %}
      {% assign use_case = product.metafields.sf_gates.use_case | split: ',' %}
      {% assign my_tags = product.metafields.sf_gates.mount_type | split: ',' %}

      <div class="left-column-data pdp-child-info">
        <h3 class="h1 heading-underline">Gate Specifications</h3>
      </div>
      <!-- <div class="feature_divider"></div> -->
      <div class="flex-row">
        <div class="col">
          <h3>Opening Size Min</h3>
          {{ min_opening_size }} inches
        </div>
        <div class="col">
          <h3>Opening Size Max</h3>
          {{ max_opening_size }} inches
        </div>
        <div class="col">
          <h3>Mount Type</h3>
          {% for tag in my_tags %}
            {{ tag -}}
            {%- if tag != my_tags.last %},{% endif %}
          {% endfor %}
        </div>

        <div class="col">
          <h3>Opening Type</h3>
          {{ opening_type }}
        </div>
        <div class="col">
          <h3>Use Cases</h3>
          {% for tag in use_case %}
            {{ tag -}}
            {%- if tag != use_case.last %},{% endif %}
          {% endfor %}
        </div>
        <div class="col">
          <h3>Walk-Thru Door</h3>
          {% if my_switch == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if product.type == 'High Chair' %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      {% assign cleaning = product.metafields.sf_high_chair.cleaning %}
      {% assign fold_flat_capable = product.metafields.sf_high_chair.fold_flat_capable %}
      {% assign hc_height_adjustable = product.metafields.sf_high_chair.height_adjustable %}
      {% assign one_hand_tray = product.metafields.sf_high_chair.one_hand_tray %}

      <div class="left-column-data pdp-child-info">
        <h3 class="h1 heading-underline">High Chair Specifications</h3>
      </div>
      <div class="flex-row">
        <div class="col">
          <h3>Child Weight</h3>
          {% if child_weight_min_value %}
            {{ child_weight_min_value }} -
          {% endif %}
          {% if child_weight_max_value %}
            {{ child_weight_max_value }} lbs
          {% endif %}
        </div>
        <div class="col">
          <h3>Fold Flat</h3>
          {% if fold_flat_capable == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>Height Adjustable</h3>
          {% if hc_height_adjustable == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>One hand Tray</h3>
          {% if one_hand_tray == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>

        {% if shipping_restrictions %}
          <div class="flex-item">
            <h3>Shipping Restrictions</h3>
            <p>
              {{ shipping_restrictions }}
            </p>
          </div>
        {% endif %}

        {% comment %} High Chair Cleaning {{ product.metafields.sf_high_chair.cleaning }} {% endcomment %}
      </div>
    </div>
  </section>
{% endif %}

{%- if product.type == 'Stroller' or product.type == 'Travel System' %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      `
      <!-- stroller and travel systems -->
      {% assign number_of_height_modes = product.metafields.sf_activity.number_of_height_modes %}
      {% assign wheel_material = product.metafields.sf_stroller.wheel_material %}
      {% assign stroller_type = product.metafields.sf_stroller.stroller_type %}
      {% assign number_of_cup_holders = product.metafields.sf_products.number_of_cup_holders %}
      {% assign self_standing_fold = product.metafields.sf_stroller.self_standing_fold %}
      {% assign upf_50_sun_protection_canopy = product.metafields.sf_stroller.upf_50__sun_protection_canopy %}
      {% assign lockable_front_wheels = product.metafields.sf_stroller.lockable_front_wheels %}
      {% assign accepts_infant_car_seat = product.metafields.sf_stroller.accepts_infant_car_seat %}
      {% assign accepts_rider_board = product.metafields.sf_stroller.accepts_rider_board %}
      {% assign compact_fold = product.metafields.sf_stroller.compact_fold %}
      

      {% assign lockable_front = product.metafields.sf_stroller.lockable_front_wheels %}
      {% assign single_to_double_capable = product.metafields.sf_stroller.single_to_double_capable %}
      {% if number_of_height_modes or wheel_material or stroller_type or number_of_cup_holders %}
        <div class="left-column-data pdp-child-info">
          <h3 class="h1 heading-underline">Stroller Specifications</h3>
          <div class="flex-row">
            {% comment %}
              <div class="col">
                <h3>Stroller Max Age</h3>
                {{ product.metafields.sf_stroller.max_age | strip }}
              </div>
            {% endcomment %}
            <div class="col">
              <h3>Self Standing</h3>
              {% if self_standing_fold == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h3>UPF 50+ Sun Protection Canopy</h3>
              {% if upf_50_sun_protection_canopy == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h3>Compact Fold</h3>
              {% if compact_fold == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>

            <div class="col">
              <h3>Lockable Front Wheels</h3>
              {% if lockable_front == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h3>Accepts Rider Board</h3>
              {% if accepts_rider_board == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>

            {% if number_of_cup_holders %}
              <div class="col">
                <h3>Number of Cup Holders</h3>
                {{ number_of_cup_holders }}
              </div>
            {% endif %}

            <div class="col">
              <h3>Single to Double Capable</h3>
              {% if single_to_double_capable == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>
            <div class="col">
              <h3>Lockable Front Wheels</h3>
              {% if lockable_front_wheels == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>

            <div class="col">
              <h3>Accepts Infant Car Seat</h3>
              {% if accepts_infant_car_seat == 1 %}
                Yes
              {% else %}
                No
              {% endif %}
            </div>

            {% if number_of_height_modes %}
              <div class="col">
                <h3>Number of Height Modes</h3>
                {{ number_of_height_modes }}
              </div>
            {% endif %}

            {% if wheel_material %}
              <div class="col">
                <h3>Wheel Material</h3>
                {{ wheel_material }}
              </div>
            {% endif %}

            {% if stroller_type %}
              <div class="col">
                <h3>Stroller Type</h3>
                {{ stroller_type }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{%- if product.type == 'Carrier' or product.type == 'Baby Carrier' %}
  {% assign toy_clip = product.metafields.sf_carrier.pacifier_toy_clip %}
  {% assign machine_wash = product.metafields.sf_carrier.machine_washable %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      <!-- carrier positions for carrier -->
      <div class="left-column-data pdp-child-info">
        <h3 class="h1 heading-underline">Carrier Specifications</h3>
        <div class="flex-row">
          <div class="col">
            <h4>Child Weight</h4>
            {% if child_weight_min_value %}
              {{ child_weight_min_value }} -
            {% endif %}
            {% if child_weight_max_value %}
              {{ child_weight_max_value }} lbs
            {% endif %}
          </div>
          <div class="col">
            <h4>Positions</h4>
            {{ product.metafields.sf_carrier.position | split: ',' }}
          </div>
          <div class="col">
            <h4>Machine Washable</h4>

            {% if machine_wash == 1 %}
              <p>Yes</p>
            {% else %}
              <p>No</p>
            {% endif %}
          </div>
          <div class="col">
            <h4>Toy Clip</h4>

            {% if toy_clip == 1 %}
              <p>Yes</p>
            {% endif %}
          </div>
          <div>
            {% assign shipping_restrictions = product.metafields.sf_shipping.shipping_restrictions %}

            {% if shipping_restrictions %}
              <div>
                <h3>Shipping Restrictions</h3>
                <p>
                  {{ shipping_restrictions }}
                </p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% if product.type contains 'Car Seat'
  or product.type contains 'Travel System'
  or product.type contains 'Booster Seat'
%}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      <!-- car seat specifications -->

      {% assign steel_reinforced = product.metafields.sf_car_seat.steel_reinforced %}
      {% assign washable = product.metafields.sf_products.machine_washable_seating_surfa %}
      {% assign bubble_level = product.metafields.sf_car_seat.bubble_level %}
      {% assign harness_covers = product.metafields.sf_car_seat.harness_covers %}
      {% assign latch_install = product.metafields.sf_car_seat.latch_install %}
      {% assign lightweight = product.metafields.sf_car_seat.lightweight %}
      {% assign no_rethread_harness = product.metafields.sf_car_seat.no_rethread_harness %}
      {% assign side_impact_protection = product.metafields.sf_car_seat.side_impact_protection %}
      {% assign anti_rebound_bar = product.metafields.sf_car_seat.anti_rebound_bar %}
      {% assign converts_to_no_back_booster = product.metafields.sf_car_seat.converts_to_no_back_booster %}
      {% assign high_back = product.metafields.sf_car_seat.high_back %}
      {% assign has_harness_booster_mode = product.metafields.sf_car_seat.has_harness_booster_mode %}
      <div class="flex-row">
        <h3 class="h1 heading-underline">Car Seat Specifications</h3>
      </div>
      <!-- <div class="feature_divider"></div> -->
      <div class="flex-row">
        <div class="col">
          <h3>Machine Washable Surface</h3>
          <p>
            {% if washable == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </p>
        </div>
        <div class="col">
          <h3>Steel Reinforced</h3>
          <p>
            {% if steel_reinforced == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </p>
        </div>
        <div class="col">
          <h3>Bubble Level</h3>
          {% if bubble_level == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>Harness Covers</h3>
          {% if harness_covers == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>

        <div class="col">
          <h3>Latch Install</h3>
          {% if latch_install == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>Lightweight</h3>
          {% if lightweight == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>No Rethread Harness</h3>
          {% if no_rethread_harness == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>Side Impact Protection</h3>
          {% if side_impact_protection == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>Anti-Rebound Bar</h3>
          {% if anti_rebound_bar == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>Sensorsafe</h3>
          {% if sensorsafe == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>

        <div class="col">
          <h3>Converts to No Back Booster</h3>
          {% if converts_to_no_back_booster == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>High Back</h3>
          {% if high_back == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
        <div class="col">
          <h3>Has Harness Booster Mode</h3>
          {% if has_harness_booster_mode == 1 %}
            Yes
          {% else %}
            No
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      <!-- rear facing mode for car seat -->
      {% assign rear_facing_weight_min = product.metafields.sf_car_seat.rear_facing_weight_min %}
      {% assign rear_facing_weight_max = product.metafields.sf_car_seat.rear_facing_weight_max %}
      {% assign rear_facing_height_min = product.metafields.sf_car_seat.rear_facing_height_min %}
      {% assign rear_facing_height_max = product.metafields.sf_car_seat.rear_facing_height_max %}
      {% assign rear_facing_age_limit = product.metafields.sf_car_seat.rear_facing_age_limit %}
      {% assign rear_facing_fit_statement = product.metafields.sf_car_seat.rear_facing_fit_statement %}
      {% if rear_facing_weight_min
        and rear_facing_weight_max
        and rear_facing_height_min
        and rear_facing_height_max
        and rear_facing_fit_statement
      %}
        <div class="flex-item-third">
          <div class="flex-row">
            <h3>Rear-Facing Mode</h3>
          </div>

          <div class="flex-row">
            <div class="col">
              <h3>Weight</h3>
              <p>{{ rear_facing_weight_min }} - {{ rear_facing_weight_max }} lbs</p>
            </div>
            <div class="col">
              <h3>Height</h3>
              {{ rear_facing_height_min }} - {{ rear_facing_height_max }} in
            </div>
          </div>
          <div class="statement">
            {{ rear_facing_fit_statement }}
          </div>
        </div>
      {% endif %}

      <!-- forward facing mode for car seat -->
      {% assign forward_facing_weight_min = product.metafields.sf_car_seat.forward_facing_weight_min %}
      {% assign forward_facing_weight_max = product.metafields.sf_car_seat.forward_facing_weight_max %}
      {% assign forward_facing_height_min = product.metafields.sf_car_seat.forward_facing_height_min %}
      {% assign forward_facing_height_max = product.metafields.sf_car_seat.forward_facing_height_max %}
      {% assign forward_facing_age_limit = product.metafields.sf_car_seat.forward_facing_age_limit %}
      {% assign forward_facing_fit_statement = product.metafields.sf_car_seat.forward_facing_fit_statement %}
      {% if forward_facing_weight_min
        and forward_facing_weight_max
        and forward_facing_height_min
        and forward_facing_height_max
        and forward_facing_fit_statement
      %}
        <div class="flex-item-third">
          <div class="flex-row">
            <h3>Forward-Facing Mode</h3>
          </div>

          <!-- <div class="feature_divider"></div> -->
          <div class="flex-row">
            <div class="col">
              <h3>Weight</h3>
              {{ forward_facing_weight_min }} - {{ forward_facing_weight_max }} lbs
            </div>
            <div class="col">
              <h3>Height</h3>
              {{ forward_facing_height_min }} - {{ forward_facing_height_max }} in
            </div>
          </div>
          <div class="statement">
            {{ forward_facing_fit_statement }}
          </div>
        </div>
      {% endif %}

      <!-- high back mode for car seat -->
      {% assign high_back_weight_min = product.metafields.sf_car_seat.high_back_weight_min %}
      {% assign high_back_weight_max = product.metafields.sf_car_seat.high_back_weight_max %}
      {% assign high_back_height_min = product.metafields.sf_car_seat.high_back_height_min %}
      {% assign high_back_height_max = product.metafields.sf_car_seat.high_back_height_max %}
      {% assign high_back_fit_statement = product.metafields.sf_car_seat.high_back_fit_statement %}
      {% if high_back_weight_min
        or high_back_weight_max
        or high_back_height_min
        or high_back_height_max
        and high_back_fit_statement
      %}
        <div class="flex-item-third">
          <div class="flex-row">
            <h3>High Back Booster Mode</h3>
          </div>
          <div class="flex-row">
            {% if high_back_fit_statement %}
              <div class="col">
                <h3>Weight</h3>
                {{ high_back_weight_min }} - {{ high_back_weight_max }} lbs
              </div>
            {% endif %}
            {% if high_back_fit_statement %}
              <div class="col">
                <h3>Height</h3>
                {{ high_back_height_min }} - {{ high_back_height_max }} in
              </div>
            {% endif %}
          </div>
          {% if high_back_fit_statement %}
            <div class="statement">
              {{ high_back_fit_statement }}
            </div>
          {% endif %}
        </div>
      {% endif %}

      <!-- no back mode for car seat -->
      <!-- no back mode for car seat -->
      {% assign no_back_weight_min = product.metafields.sf_car_seat.no_back_weight_min %}
      {% assign no_back_weight_max = product.metafields.sf_car_seat.no_back_weight_max %}
      {% assign no_back_height_min = product.metafields.sf_car_seat.no_back_height_min %}
      {% assign no_back_height_max = product.metafields.sf_car_seat.no_back_height_max %}
      {% assign no_back_fit_statement = product.metafields.sf_car_seat.no_back_fit_statement %}
      {% if no_back_weight_min
        or no_back_weight_max
        or no_back_height_min
        or no_back_height_max
        and no_back_fit_statement
      %}
        <div class="flex-item-third">
          <div class="flex-row">
            <h3>No Back Booster Mode</h3>
          </div>
          <div class="flex-row">
            {% if no_back_weight_max %}
              <div class="col">
                <h3>Weight</h3>
                {{ no_back_weight_min }} - {{ no_back_weight_max }} lbs
              </div>
            {% endif %}
            {% if no_back_height_max %}
              <div class="col">
                <h3>Height</h3>
                {{ no_back_height_min }} - {{ no_back_height_max }} in
              </div>
            {% endif %}
          </div>
          {% if no_back_fit_statement %}
            <div class="statement">
              {{ no_back_fit_statement }}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

{% if product.vendor == 'Exersaucer' %}
  <section class="pdp-support page-width">
    <div class="pdp-support__container pdp-support">
      {% assign tablet_holder = product.metafields.sf_playard.tablet_holder %}
      {% assign toys_entertainment = product.metafields.sf_playard.toys_entertainment %}

      {% assign electronic_toys_features = product.metafields.sf_activity.electronic_toys_features | split: ',' %}
      {% assign type = product.metafields.sf_activity.type %}
      {% assign max_ceiling_height = product.metafields.sf_door_jumper.max_ceiling_height %}

      {% assign height_adjustable = product.metafields.product.metafields.sf_activity.height_adjustable %}
      {% assign number_of_height_modes = product.metafields.sf_activity.number_of_height_modes %}
      {% assign activity_foldable = product.metafields.sf_activity.foldable_collapsable %}
      {% assign child_age_min_value = product.metafields.sf_products.child_age_min | strip %}
      <div class="left-column-data pdp-child-info">
        <h3 class="h1 heading-underline">Specifications</h3>
        <div class="flex-row">
          <div class="col">
            <h3>Child Weight</h3>
            {% if child_weight_min_value %}
              {{ child_weight_min_value }} -
            {% endif %}
            {% if child_weight_max_value %}
              {{ child_weight_max_value }} lbs
            {% endif %}
          </div>
          <div class="col">
            <h3>Child Height</h3>
            {% if child_height_min_value %}
              {{ child_height_min_value }} -
            {% endif %}
            {% if child_height_max_value %}
              {{ child_height_max_value }} in
            {% endif %}
          </div>
          <div class="col">
            <h3>Minimum Age</h3>
            {% if child_age_min_value %}
              {{ child_age_min_value }}
            {% endif %}
          </div>

          <div class="col">
            <h3>Number of Height Modes</h3>
            {% if number_of_height_modes != null and number_of_height_modes != '' %}
              {{ number_of_height_modes }}
            {% else %}
              1
            {% endif %}
          </div>
          <div class="col">
            <h3>Toys</h3>
            {% for tag in electronic_toys_features %}
              {{ tag -}}
              {%- if tag != electronic_toys_features.last %},{% endif %}
            {% endfor %}
          </div>

          <div class="col">
            {% if toys_entertainment %}
              <h3>Toys</h3>
              {{ toys_entertainment }}
            {% endif %}
          </div>
          <div class="col">
            <h3>Foldable</h3>
            {% if activity_foldable == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
          <div class="col">
            <h3>Height Adjustable</h3>
            {% if height_adjustable == 1 %}
              Yes
            {% else %}
              No
            {% endif %}
          </div>
          <div class="col">
            <h3>Activity Type</h3>
            {{ type }}
          </div>
          <div class="col">
            <h3>Max Ceiling Height</h3>
            {{ max_ceiling_height }}
          </div>
          <div class="flex-item">
            <h3>Battery Required</h3>
            {% if activity_batteries_required == 1 %}
              Yes <br>
              {{ product.metafields.sf_activity.battery_cell_type -}}
            {% else %}
              No<br>
            {% endif %}
            {% if batteries_included == 1 %}
              Batteries Included
            {% else %}
              Batteries Not Inlcuded
            {% endif %}
          </div>
          <!-- harness for door jumper -->
          {% assign harness_type = product.metafields.sf_door_jumper.harness_type %}
          {% if harness_type %}
            <div class="flex-item">
              <h3>Harness Type</h3>
              {{ harness_type }}
            </div>
          {% endif %}
        </div>
        <div class="flex-row">
          <div class="flex-item">
            {% if shipping_restrictions %}
              <div>
                <h3>Shipping Restrictions</h3>
                <p>
                  {{ shipping_restrictions }}
                </p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Evenflo Product Support",
  "class": "support",
  "settings": [
    {
      "type": "text",
      "id": "support_heading",
      "label": "Support Heading",
      "default": "Support"
    }
  ],
  "presets": [
    {
      "name": "Evenflo Product Support"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
