{%- capture minify -%}
{%- assign IVBblockcount = section.blocks.size -%}
{%- style -%}
#LT--{{ section.id }} {
  background-color: {{ section.settings.color_bg }};
  {%- if section.settings.image_bg != blank -%}
    background-image: url("{{ section.settings.image_bg | image_url: width: 2000 }}");
    background-repeat: no-repeat;
    background-position: {{ section.settings.image_bg.presentation.focal_point }};
    background-size: cover;
  {%- endif -%}
  max-width: 100vw;
  width: 100%;
}

#LT--{{ section.id }} {{ section.settings.heading_tag }}, #LT--{{ section.id }} p {
  color: {{ section.settings.color_text }};
}

#LT--{{ section.id }} .LT-IVB-title {
  font-size: {{ section.settings.font_size_desktop }}px;
  line-height: 1 !important;
  align: left;
}

#LT--{{ section.id }} .LT-IVB-img, #LT--{{ section.id }} .LT-IVB-video {
  box-shadow: 0 0 0px 2px {{ section.settings.color_border }};
  /* height: 75vh; */
  min-height: 550px;	
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: calc(100% - 15px);
  z-index: 0;
}

#LT--{{ section.id }} .LT-IVB-text-container {
  background-color: {{ section.settings.color_text_container }};
  width: 32vw;
  {%- if section.settings.text_container_shape == "rounded" -%}
    border-radius: 50px;
  {%- endif -%}
  {%- if section.settings.text_container_shape == "oval" -%}
    border-radius: 250px;
  {%- endif -%}
}

#LT--{{ section.id }} .LT-IVB-media {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: calc(60vw / {{ IVBblockcount }} );
}

{%- if section.settings.layout == "center" -%}
  #LT--{{ section.id }} .luna-templates-IVB-hero :nth-child(1) { order: 2; }
  #LT--{{ section.id }} .luna-templates-IVB-hero :nth-child(2) { order: 1; }
  #LT--{{ section.id }} .luna-templates-IVB-hero :nth-child(3) { order: 3; }
{%- endif -%}

#LT--{{ section.id }} video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent) !important;
  display: none !important;
}

#LT--{{ section.id }} .luna-templates__button-container {
  margin: 30px 0;
  {%- if section.settings.btn_shape == "oval" -%}
  margin: 40px 0;
  {%- endif -%}
}

#LT--{{ section.id }} .luna-templates__button {
  padding: 0.5rem 2rem;
  margin: 20px 0;
  background-color: {{ section.settings.color_btn_fill }};
  border: 1px solid {{ section.settings.color_btn_border }};
  color: {{ section.settings.color_btn_text }};
  font-size: {{ section.settings.font_size_btn_desktop }}px;
  transition: background-color 0.3s;
  text-decoration: none;
}

#LT--{{ section.id }} .luna-templates__button:hover {
  background-color: {{ section.settings.color_btn_fill_hover }};
  border: 1px solid {{ section.settings.color_btn_border_hover }};
  color: {{ section.settings.color_btn_text_hover }};
  transition: background-color 0.3s;
}

#LT--{{ section.id }} .LT__btn-rounded {
  border-radius: 5px;
}

#LT--{{ section.id }} .LT__btn-pill {
  border-radius: 50px;
}

#LT--{{ section.id }} .LT__btn-oval {
  padding: 20px 40px;          
  border-radius: 50%;
}

#LT--{{ section.id }} .luna-templates-IVB-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#LT--{{ section.id }} .LT-IVB-text-container.LT-IVB-flex-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

#LT--{{ section.id }} .LT-IVB-text-container,
#LT--{{ section.id }} .LT-IVB-text-container-center {
  text-align: center !important;
}

#LT--{{ section.id }} .LT-IVB-text-container-center {
  margin: 0 20px;
}

{{ section.settings.heading_tag }}.LT-IVB-title {
  margin: 20px 0;
}

#LT--{{ section.id }} .LT-IVB-description {
  margin: 20px auto 10px auto;
  font-size: 22px;
}

#LT--{{ section.id }} .LT-IVB-submark img {
  max-width: 100px;
  max-height: 100px;
  margin:20px auto 0 auto;
}

#LT--{{ section.id }} .LT-IVB-video video {
  height: calc(100% + 5px);
  left: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  width: calc(100% + 5px);
}

#LT--{{ section.id }} .LT-IVB-img.img-ph svg {
  height: 100%;
  width: 100%;
}

@keyframes spinsub {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

#LT--{{ section.id }} .IVB-rotatesubmark {
  animation: spinsub 20s linear infinite !important;
}

@media (min-width: 750px) {
  #LT--{{ section.id }} .LT-IVB-text-container {
    height: 500px;
  min-height: auto;	
  padding: 0;
  }
}

@media (max-width: 749px) {
  #LT--{{ section.id }} .luna-templates__button {
    font-size: {{ section.settings.font_size_btn_mobile }}px;
  }

  #LT--{{ section.id }} .LT-IVB-media {
    width: calc(100% / {{ IVBblockcount }} );
  }

  #LT--{{ section.id }} .LT-IVB-title {
    font-size: {{ section.settings.font_size_mobile }}px;
  }

  {%- if section.settings.media_mobile_hide -%}
    #LT--{{ section.id }} .LT-IVB-media:nth-of-type(3) {
      display: none;
    }

    #LT--{{ section.id }} .LT-IVB-media {
      width: 100%;
    }
  {%- endif -%}

  #LT--{{ section.id }} .luna-templates-IVB-hero {
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 20px;

  }

  #LT--{{ section.id }} .luna-templates-IVB-hero :nth-child(1) { order: 3; }
  #LT--{{ section.id }} .luna-templates-IVB-hero :nth-child(2) { order: 1; }
  #LT--{{ section.id }} .luna-templates-IVB-hero :nth-child(3) { order: 2; }
  #LT--{{ section.id }} .LT-IVB-media {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 8px;
  }

  #LT--{{ section.id }} .LT-IVB-img, #LT--{{ section.id }} .LT-IVB-video {
    width: 100%;
  }

  #LT--{{ section.id }} .LT-IVB-text-container {

    width:100%;
  }

  #LT--{{ section.id }} .LT-IVB-description {
    max-width: 80vw;
    margin: 0 auto 15px auto;
  }

  #LT--{{ section.id }} .LT-IVB-img, #LT--{{ section.id }} .LT-IVB-video {
    height: 235px;
    min-height: 235px;	
  }

  #LT--{{ section.id }} .LT-IVB-text-container {
    height: 100%;
    min-height: 235px;
    margin-top: 10px;
  }

  {%- if section.settings.img_submark_hide -%}
    #LT--{{ section.id }} .LT-IVB-submark img {
      display: none;
    }
  {%- endif -%}
}

/* Custom CSS */
{{ section.settings.custom_css }}
{%- endstyle -%}

<!-- This section is designed and built by Luna Templates. Find more at https://lunatemplates.co -->

<section id="LT--{{ section.id }}" class="LT__section luna-templates__media-block-hero {{ section.settings.css_class }}">  
	<div class="luna-templates-IVB-hero">
		<div class="LT-IVB-text-container LT-IVB-flex-child">
			<div class="LT-IVB-text-container-center">
        {%- if section.settings.img_submark -%}
          <div class="LT-IVB-submark">
            <img class="{% if section.settings.img_submark_rotate %}IVB-rotatesubmark{% endif %}"
              src="{{ section.settings.img_submark | image_url: width: 500 }}"
              alt="{{ section.settings.img_submark.alt | escape }}"
              width="{{ section.settings.img_submark.width }}"
              height="{{ section.settings.img_submark.height }}"
              loading="lazy"
              style="object-fit: contain; object-position: {{ section.settings.img_submark.presentation.focal_point }}"
            >
          </div>
        {%- endif -%}

        {%- if section.settings.title != blank -%}
          <{{ section.settings.heading_tag }} class="LT-IVB-title">
            <h2 class="h1 heading-underline left">
            {{ section.settings.title | replace: 'p>', 'span>' }}
            </h2>
          </{{ section.settings.heading_tag }}>
        {%- endif -%}

        {%- if section.settings.description != blank -%}
          <p class="LT-IVB-description">{{ section.settings.description }}</p>
        {%- endif -%}

        {%- if section.settings.link_text != blank -%}
          <div class="luna-templates__button-container">
              <a class="luna-templates__button LT__btn-{{ section.settings.btn_shape }}" href="{{ section.settings.link_url }}">{{ section.settings.link_text }}</a>
          </div>
        {%- endif -%}

      </div>
    </div>

    {%- for block in section.blocks -%}
      <div id="LT--{{ block.id }}" class="LT-IVB-media LT-IVB-flex-child" {{ block.shopify_attributes }}>
        {%- if block.type == 'image' -%}
          {%- if block.settings.image != blank -%}
            <style>
              {%- if block.settings.media_shape == "rounded" -%}
                #LT--{{ block.id }} .LT-IVB-img {
                  border-radius: 50px;
                }
                @media (max-width: 749px) {
                  #LT--{{ block.id }} .LT-IVB-img {
                    border-radius: 35px;
                  }
                }
              {%- endif -%}
              {%- if block.settings.media_shape == "oval" -%}
                #LT--{{ block.id }} .LT-IVB-img {
                  border-radius: 250px;
                }
              {%- endif -%}
            </style>
            <img class="lazyload lazypreload LT-IVB-img"
              src="{{ block.settings.image | image_url: width: 1000 }}"
              alt="{{ block.settings.image.alt | escape }}"
              loading="lazy"
              width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.height }}"
              style="object-fit: cover;object-position: {{ block.settings.image.presentation.focal_point }}"
            >
          {%- else -%}
            <div class="LT-IVB-img img-ph">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
          {%- endif -%}
        {%- elsif block.type == 'video' -%}
          {%- if block.settings.video != blank -%}
            <style>
              {%- if block.settings.media_shape == "rounded" -%}
                #LT--{{ block.id }} .LT-IVB-video {
                  border-radius: 50px;
                }
                #LT--{{ block.id }} .LT-IVB-video video {
                  border-radius: 48px;
                }
                  @media (max-width: 749px) {
                    #LT--{{ block.id }} .LT-IVB-video, #LT--{{ block.id }} .LT-IVB-video video {
                      border-radius: 35px;
                    }
                  }
                }
              {%- endif -%}
              {%- if block.settings.media_shape == "oval" -%}
                #LT--{{ block.id }} .LT-IVB-video {
                  border-radius: 250px;
                }
                #LT--{{ block.id }} .LT-IVB-video video {
                  border-radius: 248px;
                }
              {%- endif -%}
            </style>
            <div class="LT-IVB-video"{% if block.settings.image.src != blank %} style="background-image: url({{ block.settings.image | image_url: width: 533 }});background-position: center;background-repeat: no-repeat;background-size: cover;"{% endif %}>
              {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "Evenflo Hero Image & Video",
  "max_blocks": 2,
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<p>Your Heading</p>"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading Tag",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "range",
      "id": "font_size_desktop",
      "label": "Heading Font Size (Desktop)",
      "default": 40,
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "Heading Font Size (Mobile)",
      "default": 30,
      "min": 20,
      "max": 60,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Add some text here"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Button label",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Submark Content"
    },
    {
      "type": "image_picker",
      "id": "img_submark",
      "label": "Brand Submark"
    },
    {
      "type": "checkbox",
      "id": "img_submark_rotate",
      "label": "Rotate submark",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "img_submark_hide",
      "label": "Hide submark on mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "Layout of Media",
      "info": "Center layout possible only with 2 image/video blocks",
      "options": [
        {
          "value": "center",
          "label": "Text Center"
        },
        {
          "value": "left",
          "label": "Text Left"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "media_mobile_hide",
      "label": "Hide second media item on mobile",
      "default": false,
      "info": "Select if you have 2 media items and wish to have only 1 on mobile"
    },
    {
      "type": "select",
      "id": "text_container_shape",
      "label": "Text Container Shape",
      "options": [
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        },
        {
          "value": "oval",
          "label": "Oval"
        }
      ],
      "default": "square",
      "info": "Visible only with background color set"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_text_container",
      "label": "Text Container",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Section Background",
      "default": "#fff",
      "info": "Choose either background color or image"
    },
    {
      "type": "color",
      "id": "color_border",
      "label": "Media Border",
      "default": "transparent",
      "info": "Delete color code for no border"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background Image",
      "info": "Optional. Choose either background color or image"
    },
    {
      "type": "header",
      "content": "Button Styles"
    },
    {
      "type": "select",
      "id": "btn_shape",
      "label": "Button Shape",
      "options": [
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        },
        {
          "value": "pill",
          "label": "Pill"
        },
        {
          "value": "oval",
          "label": "Oval"
        }
      ],
      "default": "square"
    },
    {
      "type": "color",
      "id": "color_btn_fill",
      "label": "Button Fill Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_btn_border",
      "label": "Button Border Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_btn_text",
      "label": "Button Text Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_btn_fill_hover",
      "label": "Button Fill Color (Hover)",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_btn_border_hover",
      "label": "Button Border Color (Hover)",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_btn_text_hover",
      "label": "Button Text Color (Hover)",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "font_size_btn_desktop",
      "label": "Button Font Size (Desktop)",
      "default": 18,
      "min": 12,
      "max": 40,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "font_size_btn_mobile",
      "label": "Button Font Size (Mobile)",
      "default": 14,
      "min": 10,
      "max": 40,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Advanced"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "Custom CSS",
      "info": "Write your CSS here. Use !important when necessary."
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "media_shape",
          "label": "Border Shape",
          "options": [
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "rounded",
              "label": "Rounded"
            },
            {
              "value": "oval",
              "label": "Oval"
            }
          ],
          "default": "square"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video",
          "info": "Accepts Shopify-hosted videos"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Backup Image",
          "info": "We recommend using the first frame of the video."
        },
        {
          "type": "select",
          "id": "media_shape",
          "label": "Border Shape",
          "options": [
            {
              "value": "square",
              "label": "Square"
            },
            {
              "value": "rounded",
              "label": "Rounded"
            },
            {
              "value": "oval",
              "label": "Oval"
            }
          ],
          "default": "square"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Evenflo  Hero Image & Video",
      "category": "Luna Templates",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
