
{{ section.settings.heading }} 


{{ section.settings.description }} 


{{ section.settings.url }} 

{% assign product_video_value = product.metafields.sf_products.product_video %}
{% if product_video_value %}
  <div class="pdp-features-wrapper pdp-video-wrapper" id='videos'>
    <div class="pdp-main-video-wrapper">
      <video class="pdp-main-video" type='video/mp4' controls>
        <source src="{{ product_video_value }}">
      </video>
    </div>

    {% assign header_text = product.metafields.sf_products.video_header %}
    {% if header_text %}
    <div>
      <h3 class="pdp-video-header">{{ header_text }}</h3>
    </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
  {
  "name": "Evenflo Video",
  "class": "video",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "video_url",
      "id": "url",
      "label": "URL",
      "accept": [
        "youtube",
        "vimeo"
      ]
    }
  ],
  "presets": [
    {
      "name": "Evenflo Video"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}