{{ 'section-support.css' | asset_url | stylesheet_tag }}



{%- liquid
  paginate collections.all.products by 1000
    for product in collections.all.products
      assign product_id = product.id | append: "" 

      if product_id == page.metafields.custom.associated_product_id
         assign this_product = product
      endif 
    endfor 
 endpaginate
-%}

<section>

  <div class="content-container rich-text--full-width content-container--full-width">
    <h2>{{ section.settings.support_heading }} </h2>
    Child Fit
    <div class="flex-row">
          {% if this_product.metafields.sf_products.child_weight_min %}
          <div class="flex-item">
            <h3>Weight</h3>
            {{ this_product.metafields.sf_products.child_weight_min }}  -
            {{ this_product.metafields.sf_products.child_weight_max }}  lbs
          </div>
          {% endif %}

          {% if this_product.metafields.sf_products.child_height_min %}
          <div class="flex-item">
          <h3>Height</h3>
          {{ this_product.metafields.sf_products.child_height_min }} -
          {{ this_product.metafields.sf_products.child_height_max }} in
          </div>
          {% endif %}

  </div>
Car Seat Specificications
<div class="flex-row">
        <div class="flex-item">
          <h3>Steel Reinforced</h3>
          {{ this_product.metafields.sf_car_seat.steel_reinforced }} 
        </div>
</div>
What's in the box
<div class="flex-row">
        <div class="flex-item">
        <h3>Contents</h3>
        {{ this_product.metafields.sf_products.retail_package_contents }}
        </div>

        <div class="flex-item">
        <h3>Product Dimensions</h3>
            <p>
                {{ this_product.metafields.sf_products.assembled_width }} x
                {{ this_product.metafields.sf_products.assembled_height }} x
                {{ this_product.metafields.sf_products.assembled_depth }} in
            </p>
        </div>

        <div class="flex-item">
        <h3>Folded Dimensions</h3>
        {{ product.metafields.sf_products.folded_dimensions }}
</div>
<div class="flex-item">
        <h3>Package Dimensions</h3>
        <p>
          {{ this_product.metafields.sf_shipping.package_width }} x
          {{ this_product.metafields.sf_shipping.package_height }} x
          {{ this_product.metafields.sf_shipping.package_depth }} in
        </p>
        </div>
        <div class="flex-item">
        <h3>Product Weight</h3>
            <p>{{ this_product.metafields.sf_products.assembled_weight }} lbs.</p>
</div>
<div class="flex-item">
        <h3>Package Weight</h3>
        <p>{{ this_product.metafields.sf_products.assembled_weight }} lbs. </p>
        </div>
        <div class="flex-item">
        <h3>Weight w/o Base</h3>
            <p>{{ this_product.metafields.sf_car_seat.carrier_weight_without_base }} lbs.</p>
            </div>
</div>

<h3>Harness Type</h3>
                <p>
                  {{ this_product.metafields.sf_products.harness_type }}
                </p>

</section>

{% schema %}
  {
  "name": "Support Car Seats",
  "class": "support",
  "settings": [
    {
      "type": "text",
      "id": "support_heading",
      "label": "Support Heading",
      "default": "Support"
    }
  ],
  "presets": [
    {
      "name": "Support Car Seats"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}